<div class="container min-vh-100 mt-3">
          <div class="text-end p-2">
        
            <!-- <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show Hubs</button>
            <button class="btn btn-sm btn-primary" type="button" (click)="export()">Get Data</button> -->
          </div>
          <div class="collapse" id="collapseExample">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>SNo</th>
                    <th>HubID</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hub of hubs;index as i">
                    <td>{{i+1}}</td>
                    <td>{{hub.hubID}}</td>
                    <td>{{hub.hubName}}</td>
                    <td>{{hub.locationState}}</td>
                    <td></td>
                    <td>{{hub.locationPincode}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <form [formGroup]="routeForm" >
        
            <div class="row">
            <div class="col-md-3 card card-body p-4" >
              <div class=" mb-3">
                <label for="hub1" class="form-label">Select First Hub<b style="color: red;">*</b></label>
                <select class="form-select form-select form-select-sm" formControlName="hub1" aria-label=".form-select-sm example" [(ngModel)]="source_hub_id" (change)="get_transport_type(source_hub_id)" [ngClass]="{ 'is-invalid': submitted && f['hub1'].errors }">
                    <option value="">--Select--</option>
                  <option *ngFor="let hub1 of hub_list_1" [ngValue]="hub1.hub_id" >
                    #{{hub1.hub_id}} {{hub1.hub_name}}
               </option>
                </select>
                <div *ngIf="submitted && f['hub1'].errors" class="invalid-feedback">
                    <div *ngIf="f['hub1'].errors['required']">Select First Hub</div> 
                  </div>
              </div>
              <div class=" mb-3">
                <label for="hub2" class="form-label">Select Second Hub<b style="color: red;">*</b></label>
                <select class="form-select form-select form-select-sm" formControlName="hub2" aria-label=".form-select-sm example" [(ngModel)]="destination_hub_id" [ngClass]="{ 'is-invalid': submitted && f['hub2'].errors }">
                  <option value="">--Select--</option>
                  <option *ngFor="let hub2 of hub_list_2" [ngValue]="hub2.hub_id" >
                    #{{hub2.hub_id}} {{hub2.hub_name}}
               </option>
                </select>
                <div *ngIf="submitted && f['hub2'].errors" class="invalid-feedback">
                    <div *ngIf="f['hub2'].errors['required']">Select Second Hub</div> 
                  </div>
              </div>
              <div class=" mb-3">
                <label  class="form-label">Transportation Type<b style="color: red;">*</b></label>
                <select class="form-select form-select form-select-sm" formControlName="transportationType"  aria-label=".form-select-sm example" [(ngModel)]="transport_id" [ngClass]="{ 'is-invalid': submitted && f['transportationType'].errors }">
                    <option value="">--Select--</option>
                  <option *ngFor="let tfr of transportation_type_list" [ngValue]="tfr.transport_id">
                    {{tfr.transport_mode_name}}
                  </option>               
                </select>
                <div *ngIf="submitted && f['transportationType'].errors" class="invalid-feedback">
                    <div *ngIf="f['transportationType'].errors['required']">Enter Transportation Type</div> 
                  </div>
              </div>
              <div class=" mb-3">
                <label for="totalDistance" class="form-label">Total Distance<b style="color: red;">*</b></label>
                <input type="number" step="0.1"  formControlName="totalDistance" min="0" class="form-control form-control-sm" placeholder="Distance Between Hubs (in KM)" [(ngModel)]="distance" [ngClass]="{ 'is-invalid': submitted && f['totalDistance'].errors }">
                <div *ngIf="submitted && f['totalDistance'].errors" class="invalid-feedback">
                    <div *ngIf="f['totalDistance'].errors['required']">Enter Distance</div> 
                  </div>
              </div>
        
              <div class=" mb-3">
                <label class="form-label">Travel Time<b style="color: red;">*</b></label>
                <div class="input-group mb-3">        
                  <input type="number" formControlName="travelHour"  step="1"  min="0" class="form-control form-control-sm" placeholder="Hours" [(ngModel)]="travel_time_hour"> 
                  <input type="number" formControlName="travelMinute" step="05" min="00" max="60" class="form-control form-control-sm" placeholder="Minutes" [(ngModel)]="travel_time_minute" 
                  [ngClass]="{ 'is-invalid': submitted && f['travelMinute'].errors }">
                  <div *ngIf="submitted && f['travelMinute'].errors" class="invalid-feedback">
                    <div *ngIf="f['travelMinute'].errors['required']">Enter Travel Time</div> 
                  </div>                 
                </div> 
              </div>
          
              <div class=" mb-3">
                <label class="form-label">Departure Time<b style="color: red;">*</b></label>
                <div class="input-group mb-3">                   
                <input type="time" formControlName="departuretime" step="05" min="00" max="60" class="form-control form-control-sm" placeholder="Enter Departure Time" [(ngModel)]="departure_time" 
                  [ngClass]="{ 'is-invalid': submitted && f['departuretime'].errors }"> 
                  <div *ngIf="submitted && f['departuretime'].errors" class="invalid-feedback">
                    <div *ngIf="f['departuretime'].errors['required']">Enter Departure Time</div> 
                  </div>                 
                </div> 
              </div>
              

              <div class="my-4 text-end">
                <button class="btn btn-primary" (click)="saveRoute()">Save</button>
              </div>
             
              <div class="row mt-2" *ngFor="let val of validation_list">
                <div  class="col-md-9" style="color:red">{{val}}</div>               
            </div> 
          </div>

           
        
            <div class="col-md-9">
              <div class="table-responsive">
        
              <table class="table small table-bordered mx-3 p-2">
                <thead>
                  <tr>
                    <th>SNo</th>
                    <th>First Hub</th>
                    <th>Second Hub</th>
                    <th>Transport Type</th>
                    <th>Distance</th>
                    <th>Travel Time</th>
                    <th>Departure Time</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 
                    <tr *ngFor="let newRoute of hub_route_list|filter:search| paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index">
                   <th>{{tableSize *(page-1)+i+1}}</th>
                    <td>{{newRoute.source_hub_name}}</td>
                    <td>{{newRoute.destination_hub_name}}</td>
                    <td>{{newRoute.transport_mode_name}}</td>
                    <td>{{newRoute.distance}}</td>
                    <td>{{newRoute.travel_time_hour}} H : {{newRoute.travel_time_minute}} Min</td>
                    <td>{{newRoute.departure_time}}</td>
                    <td>
                    <a class="btn btn-primary btn-sm" (click)="edit_data(newRoute)"><i class="fa fa-edit"></i></a> &nbsp;| &nbsp;
                    <a class="btn btn-danger btn-sm" (click)="delete_data(newRoute)"><i class="fa fa-trash"></i></a>                                       
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)"
                >
                </pagination-controls>
              </div> 

            </div>
            </div>
            </div>
          </form>
        </div>
      