<ngx-spinner  bdColor="rgba(51,51,51,0.8)"  size="medium"  color="#fff"  type="ball-scale-multiple">
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
      <script>
          function isNumber(evt) {
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                  return false;
              }
              return true;
          }

      </script>

      <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" >Hub Manager Login</a></li>
                     <li class="nav-item"><a class="nav-link" href="/app/create_falilitation_login">Facilitationr Login</a></li>
                     <li class="nav-item"><a class="nav-link" href="/app/create_account_user">Accountant User Login</a></li>

                    </ul>
                </div>
            </div>
        </div>
      </section>

          <section class="padding-small" >
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <br>
                          <!-- <div class="block-header mb-5">
                              <h5>Hub Manager User Creation</h5>
                          </div> -->
                          <form method="post" [formGroup]="hubmanagervalid" name="myForm1" class="content-block">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label  class="form-label">First Name<b style="color: red;">*</b></label>
                                          <input  formControlName="firstname"  type="text" class="form-control"
                                          [(ngModel)]="first_name" maxlength="15" onkeydown="return /[a-zA-Z]/i.test(event.key)"  [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }">
                                          <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                                      <div *ngIf="f['firstname'].errors['required']">Enter First Name</div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="lastname" class="form-label">Last Name</label>
                                          <input id="lastname" formControlName="lastname"   type="text" class="form-control" maxlength="15" [(ngModel)]="second_name" onkeydown="return /[a-zA-Z]/i.test(event.key)" >
                                          <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                                            <div *ngIf="f['lastname'].errors['required']">Enter Last Name</div>
                                            <div *ngIf="f['lastname'].errors['pattern']">Last Name is not valid!</div>
                                            </div>
                                          </div>
                                  </div>

                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label  class="form-label">Email<b style="color: red;">*</b></label>
                                          <input  formControlName="email" type="email" class="form-control" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['email'].errors['required']">Enter Email</div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label  class="form-label">Mobile<b style="color: red;">*</b></label>
                                          <input  formControlName="phonenumber" type="text" class="form-control" [(ngModel)]="mobile"
                                                minlength="10" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }">
                                                <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['phonenumber'].errors['required']">Enter Mobile Number</div>
                                                  <div *ngIf="f['phonenumber'].errors['pattern']">Phonenumber is invalid!</div>
                                                </div>

                                      </div>
                                  </div>
                                  <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label  class="form-label">Hub<b style="color: red;">*</b></label>
                                        <select class="form-control" formControlName="v_hub" [(ngModel)]="hub_id" [ngClass]="{ 'is-invalid': submitted && f['v_hub'].errors }">
                                            <option value="">-- Select Hub --</option>
                                            <option *ngFor="let hub of hub_list" [ngValue]="hub.hub_id">
                                                {{hub.hub_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['v_hub'].errors" class="invalid-feedback">
                                                <div *ngIf="f['v_hub'].errors['required']">Select Hub</div>
                                              </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label  class="form-label">Gender<b style="color: red;">*</b></label>
                                        <select class="form-control" formControlName="gender" [(ngModel)]="genderid" [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }">
                                            <option value="">-- Select Gender --</option>
                                            <option *ngFor="let genname of genderlist" [ngValue]="genname.genderid">
                                                {{genname.gendername}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                                                <div *ngIf="f['gender'].errors['required']">Select Gender</div>
                                              </div>

                                    </div>
                                </div>

                                  <div class="col-sm-12">
                                      <div class="form-group">
                                          <label for="address" class="form-label">Address<b style="color: red;">*</b></label>
                                          <textarea  formControlName="address" type="text" class="form-control" [(ngModel)]="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" required></textarea>
                                          <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['address'].errors['required']">Enter Address</div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label  class="form-label">Country<b style="color: red;">*</b></label>
                                      <select class="form-control"  formControlName="countryid" [(ngModel)]="countryid" (click)="getstate(countryid)" [ngClass]="{ 'is-invalid': submitted && f['countryid'].errors }">
                                          <option value="">-- Select Country --</option>
                                          <option *ngFor="let cname of countrylist" [ngValue]="cname.countryid">
                                              {{cname.countryname}}
                                          </option>
                                      </select>
                                      <div *ngIf="submitted && f['countryid'].errors" class="invalid-feedback">
                                        <div *ngIf="f['countryid'].errors['required']">Select Country</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 ">
                                      <div class="form-group">
                                          <label  class="form-label">State<b style="color: red;">*</b></label>
                                          <select class="form-control" formControlName="state" (click)="getcity(countryid,stateid)" [(ngModel)]="stateid" [ngClass]="{ 'is-invalid': submitted && f['state'].errors }">
                                              <option value="">-- Select State --</option>
                                              <option *ngFor="let state of statelist" [ngValue]="state.stateid">
                                                  {{state.statename}}
                                              </option>
                                          </select>
                                          <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['state'].errors['required']">Select State</div>
                                                </div>
                                      </div>
                                  </div>

                                  <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label  class="form-label">City<b style="color: red;">*</b></label>
                                        <select class="form-control" formControlName="city" [(ngModel)]="city_id" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
                                            <option value="">-- Select City --</option>
                                            <option *ngFor="let city of city_list" [ngValue]="city.city_id">
                                                {{city.city_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                                <div *ngIf="f['city'].errors['required']">Select City</div>
                                              </div>
                                    </div>
                                </div>                              

                                  <div class="form-group col-md-6">
                                      <div class="form-group">
                                          <label  class="form-label">Pincode<b style="color: red;">*</b></label>
                                          <input   type="text"  formControlName="pincode" class="form-control" [(ngModel)]="pincode"
                                              minlength="6" maxlength="6" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [ngClass]="{ 'is-invalid': submitted && f['pincode'].errors }">
                                              <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['pincode'].errors['required']">Enter Pincode</div>
                                                  <div *ngIf="f['pincode'].errors['pattern']">Pincode is invalid!</div>
                                                </div>
                                      </div>
                                  </div>


                                  <div class="form-group col-md-6">
                                      <div class="form-group">
                                          <label  class="form-label">Date Of Birth<b style="color: red;">*</b></label>
                                              <input formControlName="new_dob" type="date"
                                         name="manufacturing_date" class="form-control"  [max]="min_dob| date: 'yyyy-MM-dd'" [(ngModel)]="new_dob" [ngClass]="{ 'is-invalid': submitted && f['new_dob'].errors }">
                                         <div *ngIf="submitted && f['new_dob'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['new_dob'].errors['required']">Select DOB</div>
                                                </div>
                                                </div>
                                  </div>


                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label  class="form-label">Alternative Mobile<b style="color: red;">*</b></label>
                                          <input  formControlName="altermob" type="text" class="form-control" [(ngModel)]="alternative_mobile"
                                                 minlength="10" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [ngClass]="{ 'is-invalid': submitted && f['altermob'].errors }">
                                                 <div *ngIf="submitted && f['altermob'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['altermob'].errors['required']">Select Alternative Mobile</div>
                                                  <div *ngIf="f['altermob'].errors['pattern']">Alternative Mobile is invalid!</div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-12 mb-4">
                                        <label for="alternative_mobile" class="form-label">Upload Image<b style="color: red;">*</b></label>
                                      <input type="file" class="form-control form-control-sm"  formControlName="profilepic"  accept="image/*" [(ngModel)]="p_imageurl" (change)="selectFileUpload(imageInput)" id="img" #imageInput [ngClass]="{ 'is-invalid': submitted && f['profilepic'].errors }">
                                      <div *ngIf="submitted && f['profilepic'].errors" class="invalid-feedback">
                                        <div *ngIf="f['profilepic'].errors['required']">Upload Image</div>
                                      </div>
                                  </div>

                                  <div class="col-sm-6 mb-4">
                                    <div class="form-group mb-3">
                                      <label for="password" class="form-label">Enter Password</label>
                                      <input id="password" name="password" type="password" class="form-control" formControlName="r_pwdd" [(ngModel)]="r_pwdd" [ngClass]="{ 'is-invalid': submitted && f['r_pwdd'].errors }">
                                      <div *ngIf="submitted && f['r_pwdd'].errors" class="invalid-feedback">
                                        <div *ngIf="f['r_pwdd'].errors['required']">enter New Password</div>
                                        <div *ngIf="f['r_pwdd'].errors['pattern']">Password is invalid!</div>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="col-sm-12 text-center">
                                    <a type="button" class="btn btn-template wide next"  (click)="clear()">
                                        Clear
                                    </a> &nbsp;

                                      <a type="button" class="btn btn-template wide next"  (click)="updatecustomerdata()">
                                          Create User
                                      </a>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="row mt-2" *ngFor="let val of validation_list">
                      <div class="col-md-9" style="color:red">{{val}}</div>
                  </div>

              </div>
          </section>




