
<section class="min-vh-100 checkout">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a  class="nav-link active">Receive Consigment</a></li>
                  <li class="nav-item"><a  class="nav-link" href="/app/fc_hub_or_hub_fc">FC to HUB and HUB To FC</a></li>
                  <li class="nav-item"><a  class="nav-link" href="/app/hub_to_hub">Hub To Hub</a></li>
                  <!-- <li class="nav-item"><a  class="nav-link" href="/app/hub_arrived_destination">Arrived at Destination</a></li> -->
                </ul>

                <br>
                <div class="row">
                 <div class="col-md-6">
                  
                     <input type="radio" class="btn-check" (click)="change_consignment(0)" name="options-outlined" id="Accept1" autocomplete="off" checked>
                     <label class="btn btn-outline-success" for="Accept1">Receive From DE (FC to Hub) 
                       &nbsp; <span class="badge bg-primary" alignment="text-left" >{{receive_count}}</span></label> &nbsp;
                     
                     <input type="radio" class="btn-check"  (click)="change_consignment(1)" name="options-outlined" id="Accept2" autocomplete="off">
                     <label class="btn btn-outline-success" for="Accept2">Receive From Hub 
                       &nbsp; <span class="badge bg-primary" alignment="text-left" >{{receive_pt_count}}</span></label>
                
                 
 
                 </div>
                 <div class="col-md-6"></div>
                </div>
                
                <div class="tab-content" *ngIf="showlist==0">                 
                  <div  class="active tab-block">
                    <div class="table-responsive" [style]="{'height':'500px','overflow-auto':'auto'}">
                     <table class="table table-bordered small p-2" >
                        <thead>
                          <tr>
                            <th>SNo</th>
                            <th>Consignment ID</th>
                            <th>Batch Id</th>
                            <th>Item Name</th>                        
                            <th>Tracking Id</th>
                            <th>Facilitation</th>
                            <th>Address</th>
                           <th>Pincode</th>
                           <th>Dimension(cm)(LBH)</th>
                        <th>Status</th> 
                           
                          </tr>
                        </thead>
                        <tbody>
                       <tr *ngFor="let han of received_hub_item_list| filter:search | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index; filter:search">
                            <th>{{tableSize *(page-1)+i+1}}</th>
                            <td>{{han.consignment_id}}</td>
                            <td>{{han.batch_id}}</td>
                            <td>{{han.item_name}}</td>                           
                            <td>{{han.tracking_id}}</td>
                            <td>{{han.facilitation_name}}</td>
                            <td>{{han.address}}</td>
                            <td>{{han.pincode}}</td>
                            <td>{{han.consignment_l}}*{{han.consignment_b}}*{{han.consignment_h}}</td>
                            <td>
                               <a (click)="accept_data(han)" type="button"><span  class="badge bg-primary" >Receive</span> &nbsp;
                                </a>
                               </td>                           
                                
                          </tr>
                        
                        </tbody>
                      </table>


                      <div class="d-flex justify-content-center">
                      <pagination-controls previousLabel="Prev"  nextLabel="Next"
                       (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                      </div>

                    </div>
        
                  </div>
                </div>


                <div class="tab-content" *ngIf="showlist==1">                 
                  <div  class="active tab-block">
                    <div class="table-responsive" [style]="{'height':'500px','overflow-auto':'auto'}">
                      <table class="table table-bordered small p-2" >
                        <thead>
                          <tr>
                            <th>SL No</th>
                            <th>No Of Items</th>
                            <th>Batch Id</th>
                            <th>Hub Name</th>                        
                            <th>Hub Address</th>
                            <th>Hub Contact</th>
                            <!-- <th>Fleet Manager</th> -->
                            <th>TFR Details</th>
                            <!-- <th>Expected Dispatch Date And Time</th>
                            <th>Expected Reaching Date And Time</th> -->
                          <th>Status</th>                            
                          </tr>
                        </thead>
                        <tbody>
                       <tr *ngFor="let han of received_item_pt_to_hub_list| filter:search | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index; filter:search">
                            <th>{{tableSize *(page-1)+i+1}}</th>
                            <td>{{han.no_of_item}}</td>
                            <td>{{han.batch_id}}</td>
                            <td>{{han.hub_name}}</td>                           
                            <td>{{han.hub_address+", "+han.hub_pincode}}</td>
                            <td>{{han.contact_no}}</td>
                            <!-- <td>{{han.fleet_manager_name}}</td> -->
                            <td>{{han.transport_mode_name+" : "+han.vehicle_no}}</td>
                            <!-- <td>{{han.expected_dispatch_date|date:'dd-MM-yyyy'+" "+han.expected_dispatch_time}}</td>
                            <td>{{han.expected_reaching_date|date:'dd-MM-yyyy'+" "+han.expected_reaching_time}}</td> -->
                          
                            <td>
                               <a (click)="view_hub_accept_data(han)" type="button"><span  class="badge bg-primary" >View</span> 
                                </a> &nbsp;
                                <a (click)="accept_All_pt_to_hub_data(han)" type="button"><span  class="badge bg-primary" >Receive All</span>
                                </a>
                               </td>                           
                                
                          </tr>
                        
                        </tbody>
                      </table>


                      <div class="d-flex justify-content-center">
                      <pagination-controls previousLabel="Prev"  nextLabel="Next"
                       (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                      </div>

                    </div>
        
                  </div>
                </div>


              </div>
        
            </div>
          </div>
        </section>
        
        
  
     
        <div class="modal fade"  id="acceptformModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">
                  Batch Details
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         
              </div>
              <div class="modal-body border-0">
        
                  <div class="'row">
                    <div class="col-lg-12">
                      
                      <table class="table table-bordered small p-2" >
                        <thead>
                          <tr>
                            <th>SNo</th>
                            <th>Consignment ID</th>
                            <th>Batch Id</th>
                            <th>Item Name</th>                        
                            <th>Tracking Id</th>
                            <th>Dimension(cm)(LBH)</th>
                            <th>Weight(kg)</th>
                            <th>Status</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                       <tr *ngFor="let han of accept_all_item_details; let i = index;">
                            <th>{{i+1}}</th>
                            <td>{{han.consignment_id}}</td>
                            <td>{{han.batch_id}}</td>
                            <td>{{han.item_name}}</td>                           
                            <td>{{han.tracking_id}}</td>
                            <td>{{han.consignment_l}}*{{han.consignment_b}}*{{han.consignment_h}}</td>
                            <td>{{han.weight}}</td>

                            <td> <a (click)="accept_pt_to_hub_data(han)" type="button"><span  class="badge bg-primary" >Receive</span> &nbsp;
                            </a></td>
                          </tr>
                        
                        </tbody>
                      </table>
                    </div>
                  </div>
        
              </div>
        
            </div>
          </div>
        </div>