
    <!-- Hero Section-->
    <section class="hero hero-page gray-bg padding-small">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-9 order-2 order-lg-1">
            <h1>Your orders</h1><p class="lead">Your orders in one place.</p>
          </div>
          <div class="col-lg-3 text-right order-1 order-lg-2">
            <ul class="breadcrumb justify-content-lg-end">
              <li class="breadcrumb-item"><a>Home</a></li>
              <li class="breadcrumb-item active">Orders</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-small">
      <div class="container">
        <div class="row">
          <!-- Customer Sidebar-->
          <div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
            <div class="customer-profile">
              <div  class="d-inline-block overflow-hidden">
                <img src="{{imageBaseUrl+userProfileImage}}" class="img-fluid rounded-circle customer-image" 
                [style]="{'width':'200px','height':'200px'}">
            </div>
            <h6 class="text-small">{{this.first_name}} {{this.second_name}}</h6>
             
          </div>
            <nav class="list-group customer-nav">
              <a routerLink="/app/orderhistory" class="active list-group-item d-flex justify-content-between align-items-center text-decoration-none">
                <span>
                  <span class="icon icon-bag"></span>
                  Orders</span>
                  <small class="badge bg-primary text-white">{{customer_order_list.length}}</small>
                </a>
                <a routerLink="/app/customerprofile" class="list-group-item d-flex justify-content-between align-items-center text-decoration-none">
                  <span><span class="icon icon-profile"></span>Profile</span></a>
                     <a type="button"  class="list-group-item d-flex justify-content-between align-items-center" (click)="logout()">
                      <span><span class="fa fa-sign-out"></span>Log out</span></a>
            </nav>
          </div>
          <div class="col-lg-8 col-xl-9 pl-lg-3">
            <table class="table table-hover table-responsive-md">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Total</th>
                  <!-- <th>Status</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of customer_order_list| paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index">
                 
                  <th>{{tableSize *(page-1)+i+1}}</th>
                  <th>{{a.orderid}}</th>
                  <td>{{a.orderdate|date:'dd-MM-yyyy'}}</td>
                  <td>{{a.payableamount| currency:'INR' }}</td>
                  <!-- <td>{{a.out_status}}</td> -->
                  <td><a  (click)="show_item_details(a)"  class="btn btn-primary btn-sm">View</a></td>
                </tr>
               
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>

              <!-- <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"></pagination-controls> -->
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
   <section>
        <!-- {{listData|json}} -->
    </section>
   