a.btn.btn-template.wide.shop-now {
          background-color: darkmagenta;
      }

   

.btn.btn-template.wide.next{
    background-color: darkmagenta;
    padding: 1%;
    margin-left: 4%;
}

.btn.btn-template.wide.next.check{
    background-color: white;
    padding: 1%;
    margin-left: 4%;
}

img {
    max-width: 260px;
    height: 119%;
}
.product .image {
    position: relative;
    background: #fff;
    padding: 20px;
    height: 199px;
    width: 101%;
}
.product .image img {
    max-width: 260px;
}