<section class="hero hero-page gray-bg padding-small">
    <div class="container">
      <div class="row d-flex">
        <div class="col-lg-9 order-2 order-lg-1">
          <h1>Contact</h1>
        </div>
        <div class="col-lg-3 text-right order-1 order-lg-2">
          <ul class="breadcrumb justify-content-lg-end">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <main class="contact-page">
    <!-- Contact page-->
    <section class="contact">
      <div class="container">
        <header>
          <p class="lead">
            Are you curious about something? Do you have some kind of problem with our products? As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am
            he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.
          </p>
        </header>
        <div class="row">
          <div class="col-md-4">
            <div class="contact-icon">
              <div class="icon icon-street-map"></div>
            </div>
            <h3>Address</h3>
            <p>#1, NHBCS Layout, 2nd Stage,<br> KHB Colony, Kamakshipalya,<br>Bangalore - 560079, Karnataka, India
               <strong>info@avaniinfosoft.com</strong></p>  
                </div>
          <div class="col-md-4">
            <div class="contact-icon">
              <div class="icon icon-support"></div>
            </div>
            <h3>Call center</h3>
            <p>This number is toll free if calling from Great Britain otherwise we advise you to use the electronic form of communication.</p>
            <p><strong>+33 555 444 333</strong></p>
          </div>
          <div class="col-md-4">
            <div class="contact-icon">
              <div class="icon icon-envelope"></div>
            </div>
            <h3>Electronic support</h3>
            <p>Please feel free to write an email to us or to use our electronic ticketing system.</p>
            <ul class="list-style-none">
              <li><strong><a href="mailto:">info@fakeemail.com</a></strong></li>
              <li><strong><a >
                    Ticketio
                     - our ticketing support platform</a></strong></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- <div id="map">                                       </div> -->
    <section>
      <div class="container">
        <header class="mb-5">
          <h2 class="heading-line">Contact Form</h2>
        </header>
        <div class="row">
          <div class="col-md-7">
            <form id="contact-form"  [formGroup]="forms" class="custom-form form">
              <div class="controls">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" >
                      <label  class="form-label">Your First Name *</label>
                      <input type="text"  [(ngModel)]="first_name" placeholder="Enter your First Name"
                       required="required" class="form-control" formControlName="firstname" 
                       [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }" 
                       (keypress)="keyPressSpace($event)" minlength="3" maxlength="30"
                            pattern="^[a-zA-Z][a-z A-Z 0-9]*$" 
                            oninput="if(!this.value.match('^[a-zA-Z][a-z A-Z 0-9]*$'))this.value='';">
                       <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstname'].errors['required']">Enter your First Name</div>                      
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" >
                      <label  class="form-label">Your Last Name</label>
                      <input type="text" [(ngModel)]="last_name" placeholder="Enter your  Last Name"
                       class="form-control" formControlName="lastname" (keypress)="keyPressSpace($event)"   pattern="^[a-zA-Z][a-z A-Z 0-9]*$" 
                       oninput="if(!this.value.match('^[a-zA-Z][a-z A-Z 0-9]*$'))this.value='';">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" >
                      <label  class="form-label">Your Email *</label>
                      <input type="email" [(ngModel)]="email" placeholder="Enter Email Id" 
                      required="required" class="form-control" formControlName="vemail" 
                      [ngClass]="{ 'is-invalid': submitted && f['vemail'].errors }" 
                      (keypress)="keyPressSpace_1($event)">
                      <div *ngIf="submitted && f['vemail'].errors" class="invalid-feedback">
                        <div *ngIf="f['vemail'].errors['required']">Enter Email Id</div>  
                        <div *ngIf="f['vemail'].errors && f['vemail'].errors['pattern']">Please provide valid Email</div>                    
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" >
                      <label  class="form-label">Mobile *</label>
                      <input type="text" [(ngModel)]="mobile" placeholder="Enter Mobile Number"
                       required="required" class="form-control" formControlName="mob" 
                       [ngClass]="{ 'is-invalid': submitted && f['mob'].errors }"   minlength="10" maxlength="10" 
                       pattern="^[6-9][0-9]*$" oninput="if(!this.value.match('^[6-9][0-9]*$'))this.value='';">
                       <div *ngIf="submitted && f['mob'].errors" class="invalid-feedback">
                        <div *ngIf="f['mob'].errors['required']">Enter Mobile Number</div> 
                        <div *ngIf="f['mob'].errors && f['mob'].errors['pattern']">Please provide Valid Mobile Number</div>
                                  
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label  class="form-label">Subject *</label>
                  <input type="text" [(ngModel)]="subject" placeholder="Enter Your Subject"
                   required="required" class="form-control" formControlName="sub" 
                   [ngClass]="{ 'is-invalid': submitted && f['sub'].errors }" 
                   (keypress)="keyPressSpace($event)" minlength="3" >
                   <div *ngIf="submitted && f['sub'].errors" class="invalid-feedback">
                    <div *ngIf="f['sub'].errors['required']">Enter Your Subject</div> 
                  </div>
                </div>
                <div class="form-group">
                  <label  class="form-label">Your message for us *</label>
                  <textarea type="text" [(ngModel)]="message" placeholder="Enter Your Message"  [cols]="3"
                  required="required" class="form-control" formControlName="msg" 
                  [ngClass]="{ 'is-invalid': submitted && f['msg'].errors }" 
                  (keypress)="keyPressSpace($event)" minlength="3"></textarea>
                  <div *ngIf="submitted && f['msg'].errors" class="invalid-feedback">
                    <div *ngIf="f['msg'].errors['required']">Enter Your Message</div> 
                  </div>
                </div>
                  <!-- <div class="NgxEditor__Wrapper" class="shadow shodow-sm form-control">
                    <ngx-editor-menu [editor]="editor"  height="200px" minHeight="50px" formControlName="msg"> </ngx-editor-menu>
                    <ngx-editor
                    [editor]="editor"
                    [ngModel]="html"
                    [disabled]="false"
                    [placeholder]="'.Type here..'"
                    formControlName="msg">
                    </ngx-editor>               
                </div> -->
                </div>
                <div class="my-2" >
               
                    <button id="submit" type="button" (click)="submitData()" class="form-control btn btn-primary" >
                    Submit
                    </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5">
            <p>We have a strong foundation built on legacy and emerging technologies, including an excellent track record of on-time deliveries </p>
             <b><p>Where we are<br></b>
                #1, NHBCS Layout, 2nd Stage, KHB Colony, Kamakshipalya, Bangalore - 560079 Karnataka, India
                info@avaniinfosoft.com<br>
                
                +91 6366939248
            <div class="social">
              <ul class="list-inline">
                <li class="list-inline-item"><a  target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a  target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a  target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a  target="_blank"><i class="fa fa-behance"></i></a></li>
                <li class="list-inline-item"><a  target="_blank"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>