
<div class="container min-vh-100 m-auto">
  <h3 class="my-4">Dashboard</h3>

  <div class="row g-0 dash-card">

    <!-- card start -->

    <div class="card text-white bg-primary col-md-3" >

      <div class="card-body">
        <p><i class="fa fa-building"></i> Hub</p>
        <div class="row g-0">
          <h6 class="card-title col-9">Active Hub</h6>
          <h6 class="col-3">3</h6>

          <h6 class="card-title col-9">Inactive Hub</h6>
          <h6 class="col-3">2</h6>

          <h6 class="card-title col-9"></h6>
          <h6 class="col-3"></h6>
        </div>

      </div>
    </div>

    <!-- card ends -->

        <!-- card start -->

        <div class="card text-white bg-primary  col-md-3" >

          <div class="card-body">
            <p><i class="fa fa-truck"></i> Transport </p>
            <div class="row g-0">
              <h6 class="card-title col-9">Railway</h6>
              <h6 class="col-3">45</h6>

              <h6 class="card-title col-9">Air</h6>
              <h6 class="col-2">5</h6>

              <h6 class="card-title col-9">Road</h6>
              <h6 class="col-3">22</h6>
            </div>

          </div>
        </div>

        <!-- card ends -->
        <!-- card start -->

        <div class="card text-white bg-primary col-md-3" >

          <div class="card-body">
            <p><i class="fa fa-cubes"></i> Consignment </p>
            <div class="row g-0">
              <h6 class="card-title col-9">New Consignment</h6>
              <h6 class="col-3">450</h6>

              <h6 class="card-title col-9">In-Transit</h6>
              <h6 class="col-2">5</h6>

              <h6 class="card-title col-9">Delivered</h6>
              <h6 class="col-3">22</h6>
            </div>

          </div>
        </div>

        <!-- card ends -->
        <!-- card start -->

        <div class="card text-white bg-primary  col-md-3">

          <div class="card-body">
            <p><i class="fa fa-cubes"></i> Consignment </p>
            <div class="row g-0">
              <h6 class="card-title col-9">New Consignment</h6>
              <h6 class="col-3">450</h6>

              <h6 class="card-title col-9">In-Transit</h6>
              <h6 class="col-2">5</h6>

              <h6 class="card-title col-9">Delivered</h6>
              <h6 class="col-3">22</h6>
            </div>

          </div>
        </div>

        <!-- card ends -->
  </div>
</div>
