<!-- Hero Section-->
<section class="hero hero-page gray-bg padding-small" ng-init="BindData()">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-lg-9 order-2 order-lg-1">
                      <h1>Checkout</h1><p class="lead">You currently have {{mycartlist[0].car_qty}} item(s) </p>
                  </div>
                  <div class="col-lg-3 text-right order-1 order-lg-2">
                      <ul class="breadcrumb justify-content-lg-end">
                          <li class="breadcrumb-item"><a >Home</a></li>
                          <li class="breadcrumb-item active">Checkout</li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <!-- Checout Forms-->
      <section class="checkout min-vh-100">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8">
                      <ul class="nav nav-pills">
                          <li class="nav-item"><a routerLink="/app/cart/address" class="nav-link">Address</a></li>
                          <li class="nav-item"><a routerLink="/app/cart/payment" class="nav-link">Payment Method </a></li>
                          <li class="nav-item"><a  class="nav-link active">Order Review</a></li>
                      </ul>
                      <div class="tab-content">
                          <div id="order-review" class="tab-block">
                              <div class="cart">
                                  <div class="cart-holder">
                                      <div class="basket-header">
                                          <div class="row">
                                              <div class="col-5">Product</div>
                                              <div class="col-2">Price</div>
                                              <div class="col-2">Quantity</div>
                                              <!-- <div class="col-1">Tax</div> -->
                                              <div class="col-2">Total</div>
                                          </div>
                                      </div>
                                      <div class="basket-body">
                                          <!-- Product-->
                                          <div class="item" *ngFor="let cart of mycartlist">
                                              <div class="row d-flex align-items-center">
                                                  <div class="col-5">
                                                      <div class="d-flex align-items-center">
                                                          <img src="{{imageBaseUrl+cart.imageurl}}" alt="..." [routerLink]="['/app/home/itemdetails/',cart.itemid]"
                                                          type="button" class="img-fluid">
                                                          <div class="title">
                                                              <a [routerLink]="['/app/home/itemdetails/',cart.itemid]">
                                                                  <h5>{{cart.productname}}</h5>
                                                                  <div  *ngFor="let variant of item_variant">                                               
                                                                    <span class="text-muted" *ngIf="variant.item_id===cart.itemid">
                                                                         {{variant.attribute_name}} : {{variant.attribute_value}}
                                                                     </span>   
                                                                </div>
                                                              </a>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-2"><span>₹ {{cart.selling_price|number}}</span></div>
                                                  <div class="col-2">
                                                      <div class="d-flex align-items-center">
                                                          <div class="quantity d-flex align-items-center">
                                                            {{cart.car_qty}}
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <!-- <div class="col-1"><span>{{cart.gst_percentage}} %</span></div>-->
                                       
                                                  <div class="col-2"><span>₹ {{cart.selling_price*cart.car_qty|number}}</span></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="total row"><span class="col-md-9 col-2" style="text-align: right;"><b>Total :</b></span><span class="col-md-2 col-8 text-primary">₹ {{total|number}}</span></div>
                              </div>
                              <div class="col-lg-12 text-center CTAs">
                                <a routerLink="/app/direct_cart_payment" class="btn btn-template wide next">
                                    <i class="fa fa-long-arrow-left"></i> &nbsp;Back to payment method</a>&nbsp;
                                <a  class="btn btn-template wide next" (click)="place_order()">Place an order<i class="fa fa-long-arrow-right"></i></a>
                            </div>

                             
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="block-body order-summary">
                          <h6 class="text-uppercase">Order Summary</h6>
                          <p>Shipping and additional costs are calculated based on values you have entered</p>
                          <ul class="order-menu list-unstyled">
                              <li class="d-flex justify-content-between"><span>Order Subtotal </span><strong>₹ {{total|number}}</strong></li>
                              <li class="d-flex justify-content-between d-none"><span>Shipping and handling</span><strong>₹ 10</strong></li>
                              <li class="d-flex justify-content-between d-none"><span>Tax</span><strong>₹ {{gstamount}}</strong></li>
                              <li class="d-flex justify-content-between d-none"><span>Discount</span><strong>₹ 100</strong></li>
                              <li class="d-flex justify-content-between"><span>Total</span><strong class="text-primary price-total">₹ {{payableamount|number}}</strong></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>

