
<!-- Hero Section-->

<section class="hero hero-page gray-bg padding-small" >
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>Checkout</h1>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item"><a >Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Checkout Forms-->
<section class="checkout min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a  class="nav-link active">Address</a></li>
                    <li class="nav-item"><a  class="nav-link disabled">Payment Method </a></li>
                    <li class="nav-item"><a  class="nav-link disabled">Order Review</a></li>
                </ul>
                <div class="tab-content">
                    <div id="address" class="active tab-block">
                        <form >
                            <!-- Invoice Address-->
                            <div class="block-header mb-5" *ngIf="list_tab==true">
                                <h6>Shipping Address</h6>
                            </div>
                            <div class="row" *ngIf="list_tab==true">
                                <div class="col-md-6">
                                    <div class="card card-body shadow-sm">
                                        <div>
                                            <h5><strong>Delivery Address</strong></h5>
                                            <div *ngIf="this.shipping_address_list.length>0">
                                                <h6>{{customer_name1}}</h6>
                                                <p>{{address_1}} {{address_2}} {{city1}}</p>
                                                <p>{{pincode1}}</p>
                                                <p>{{mob}}</p>
                                                <p>{{email1}}</p>
                                            </div>
                                            <div *ngIf="this.shipping_address_list.length==0">
                                                <div class="text-center text-muted my-3">
                                                    <h6>No Address Found, Please Add Delivery Address</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" [(ngModel)]="shippingaddress_id" hidden />
                                            <button class="btn btn-template wide bg-primary" *ngIf="this.shipping_address_list.length>0" (click)="edditaddress()">Edit</button> &nbsp;
                                            <button class="btn btn-template wide bg-primary" *ngIf="this.shipping_address_list.length>0" (click)="changeaddress()"> Change</button>&nbsp;
                                                <button class="btn btn-template wide bg-primary" (click)="addaddress()">
                                                    Add
                                                </button>      
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="card card-body shadow-sm">
                                      <div>
                                          <h5><strong>Invoice Address</strong></h5>
                                          <div>
                                              <h6>{{first_name}}</h6>
                                              <p>{{address2}}  {{city2}}</p>
                                              <p>{{pincode_new}}</p>
                                              <p>{{mobile2}}</p>
                                              <p>{{email2}}</p>
                                          </div>
                                          <div *ngIf="this.invoice_count==0">
                                              <div class="text-center text-muted my-3">
                                                  <h6>No Address Found, Please Add Invoice Address</h6>
                                              </div>
                                          </div>
                                      </div>
                                      <div>
                                          
                                          <button class="btn btn-template wide bg-primary" *ngIf="this.invoice_count>0" (click)="edit_invoice()">Edit</button>
                                          <button class="btn btn-template wide bg-primary" *ngIf="this.invoice_count==0" (click)="edit_invoice()">Save</button>
                                               
                                      </div>
                                  </div>
                              </div>
                              
                            </div>
                            <!-- /Invoice Address-->
                            <!-- Shippping Address-->
                            <div   *ngIf="edit_tab==true">
                                <form [formGroup]="address">
                                <div class="block-header mb-5 mt-3">
                                    <h6>Shipping address</h6>
                                </div>
                                <div class="row p-3">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Pincode<b class="text-danger">*</b></label>
                                        <input formControlName="e_pincode" [(ngModel)]="pincode" type="text"  placeholder="Pincode"  (change)="check_pincode(pincode)"  class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f['e_pincode'].errors }"  minlength="6" maxlength="6" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"required>
                                        <div *ngIf="submitted && f['e_pincode'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_pincode'].errors['required']">Enter Pincode</div>
                                            <div *ngIf="f['e_pincode'].errors['minlength']">Minimum 6 Digit</div>
                                            <div *ngIf="f['e_pincode'].errors && f['e_pincode'].errors['pattern']">Pincode is invalid!</div>
                                         </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">Name<b class="text-danger">*</b></label>
                                        <input formControlName="e_name" (keypress)="keyPressSpace($event)" [(ngModel)]="name" type="text" name="name" placeholder="Enter you name" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted && f['e_name'].errors }" required>
                                        <div *ngIf="submitted && f['e_name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_name'].errors['required']">Enter Name</div>
                                            <div *ngIf="f['e_name'].errors && f['e_name'].errors['pattern']">Name is invalid!</div>
                                          </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Mobile<b class="text-danger">*</b></label>
                                        <input formControlName="e_mob" [(ngModel)]="mobile" type="text" name="mobile" placeholder="Enter Mobile Number" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f['e_mob'].errors }"  minlength="10" maxlength="10" pattern="^[6-9][0-9]*$" oninput="if(!this.value.match('^[6-9][0-9]*$'))this.value='';" required>
                                        <div *ngIf="submitted && f['e_mob'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_mob'].errors['required']">Enter Mobile Number</div>
                                            <div *ngIf="f['e_mob'].errors['minlength']">Minimum 10 Digit</div>
                                            <div *ngIf="f['e_mob'].errors && f['e_mob'].errors['pattern']">Mobile Number is invalid!</div>
                                          </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Email Address<b class="text-danger">*</b></label>
                                        <input formControlName="e_email"  (keypress)="keyPressSpace_1($event)"  [(ngModel)]="email" type="email"  placeholder="Enter your email address" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f['e_email'].errors }" required>
                                        <div *ngIf="submitted && f['e_email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_email'].errors['required']">Enter Email</div>
                                            <div *ngIf="f['e_email'].errors && f['e_email'].errors['pattern']">Email is invalid!</div>
                                       </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Address Line1<b class="text-danger">*</b></label>
                                        <input formControlName="e_addressline1" (keypress)="keyPressSpace($event)" [(ngModel)]="address_line1" type="text"  placeholder="Your street name" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f['e_addressline1'].errors }" required>
                                        <div *ngIf="submitted && f['e_addressline1'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_addressline1'].errors['required']">Enter Address Line1</div>
                                            <div *ngIf="f['e_addressline1'].errors && f['e_addressline1'].errors['pattern']">Address is invalid!</div>
                                         </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Address Line2<b class="text-danger">*</b></label>
                                        <input [(ngModel)]="address_line2" (keypress)="keyPressSpace($event)" type="text" formControlName="e_addressline2"placeholder="Your street name" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f['e_addressline2'].errors }" required>
                                        <div *ngIf="submitted && f['e_addressline2'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_addressline2'].errors['required']">Enter Address Line 2</div>
                                         </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="form-label">City<b class="text-danger">*</b></label>
                                        <input formControlName="e_city" [(ngModel)]="city" type="text" placeholder="Your city" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted && f['e_city'].errors }" required>
                                        <div *ngIf="submitted && f['e_city'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_city'].errors['required']">Enter City</div>
                                            <div *ngIf="f['e_city'].errors && f['e_city'].errors['pattern']">City is invalid!</div>
                                         </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">Country<b class="text-danger">*</b></label>
                                       <select class="form-control" formControlName="e_country" [(ngModel)]="ship_country_id" (change)="get_state1(ship_country_id)" [ngClass]="{ 'is-invalid': submitted && f['e_country'].errors }">
                                        <option value="">--Select Country--</option>
                                        <option *ngFor="let cou of country_list" [ngValue]="cou.countryid">{{cou.countryname}}</option>
                                    </select>
                                        <div *ngIf="submitted && f['e_country'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_country'].errors['required']">Select Country</div>
                                          </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">State<b class="text-danger">*</b></label>
                                       <select class="form-control" formControlName="e_state" [(ngModel)]="ship_state_id" [ngClass]="{ 'is-invalid': submitted && f['e_state'].errors }">
                                        <option value="">--Select State--</option>
                                        <option *ngFor="let st of state_list" [ngValue]="st.stateid">{{st.statename}}</option>
                                    </select>
                                        <div *ngIf="submitted && f['e_state'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_state'].errors['required']">Select State</div>
                                          </div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label class="form-label">Landmark<b class="text-danger">*</b></label>
                                        <input formControlName="e_landmark" (keypress)="keyPressSpace($event)" [(ngModel)]="land_mark" type="text"  placeholder="Landmark" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f['e_landmark'].errors }" required>
                                        <div *ngIf="submitted && f['e_landmark'].errors" class="invalid-feedback">
                                            <div *ngIf="f['e_landmark'].errors['required']">Enter Landmark</div>
                                         </div>
                                    </div>
                                    
                                </div>
                                 <div class="row mt-2" *ngFor="let val of validation_list">
                <div class="col-md-9" style="color:red">{{val}}</div>
            </div>

                                      <br>
                                      <div class="col-md-12 mt-4">
                                        <div class="text-center">
                                            <input type="text" [(ngModel)]="shippingaddress_id" hidden />
                                            <a type="button" class="btn btn-template wide next"  (click)="cancel()" >Clear</a> &nbsp;
                                            <a type="button" class="btn btn-template wide next"  (click)="save_shipping_address()" >
                                                Save<i class="fa fa-angle-right"></i>
                                            </a>

                                        </div>
                                    </div>

                            </form>
                            </div>
                            <!-- /Shipping Address-->
                            <div class="col-lg-12 text-center CTAs">
                                <a routerLink="/app/cart" class="btn btn-template wide next">
                                    <i class="fa fa-long-arrow-left"></i>&nbsp;Back to basket</a> &nbsp;
                                <a *ngIf="this.shipping_address_list.length>0" (click)="choose_payment_method()" class="btn btn-template wide next">Choose Payment Method
                                    <i class="fa fa-long-arrow-right"></i></a>
                                </div>

                           
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block-body order-summary">
                    <h6 class="text-uppercase">Order Summary</h6>
                    <p>Shipping and additional costs are calculated based on values you have entered</p>
                    <ul class="order-menu list-unstyled">
                        <li class="d-flex justify-content-between"><span>Order Subtotal </span><strong>₹ {{total| number}}</strong></li>
                        <li class="d-flex justify-content-between d-none"><span>Shipping and handling</span><strong>₹ 10</strong></li>
                        <li class="d-flex justify-content-between d-none"><span>Tax</span><strong>₹ {{gstamount}}</strong></li>
                        <li class="d-flex justify-content-between d-none"><span>Discount</span><strong>₹ 100</strong></li>
                        <li class="d-flex justify-content-between"><span>Total</span><strong class="text-primary price-total">₹ {{payableamount| number}}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="Changeaddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="modelclose()" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <h5 class="text-center">Select the Delivery Address</h5>
                    <div class="card border-0">
                        <div class="card-body border-0">
                            <div class="mt-3" *ngFor="let add of shipping_address_list">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" (ngModelChange)="getsipid(add)" ngModel="shipaddid" value="{{add.shippingaddress_id}}"  name="flexRadioDefault" id="{{add.name}}">
                                    <!-- ng-selected="{{add.default_address==1}}" -->
                                    <label class="form-check-label" for="{{add.name}}">
                                        {{add.name}}
                                    </label>
                                        <div>
                                            <p>
                                                {{add.address_line_1}} &nbsp; {{add.address_line_2}} &nbsp;{{add.city}} &nbsp;
                                                {{add.pincode}}&nbsp;{{add.mob}}&nbsp;{{add.email}}
                                            </p>
                                        </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="text-center my-4">
                    <button type="submit" class="btn btn-primary btn-submit" (click)="change_address_save()">Select Address</button>
                </div>
            </div>
        </div>
    </form>
</div>

 <!-- Modal -->
 <div class="modal fade" id="allOrderModal" tabindex="-1" aria-labelledby="exampleallOrderModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="exampleallOrderModal"></h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body border-0">
            <div class="'row">
              <div class="col-lg-12">
                  <div class="block">
                    <div class="block-body">
                                <form [formGroup]="invoiceaddress">
                                <div class="block-header mb-5 mt-3">
                                    <h6>Invoice Address</h6>
                                </div>
                                <div class="row p-3">
                                    <div class="form-group col-md-6">
                                        <label class="form-label">Name<b class="text-danger">*</b></label>
                                        <input formControlName="v_first_name" [(ngModel)]="first_name" type="text" name="name" (keypress)="keyPressSpace($event)" placeholder="Enter you name" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted1 && g['v_first_name'].errors }" required>
                                        <div *ngIf="submitted1 && g['v_first_name'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_first_name'].errors['required']">Enter Name</div>
                                          </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">Gender<b class="text-danger">*</b></label>
                                       <select class="form-control form-control-sm" formControlName="v_gender_id" [(ngModel)]="gender_id" [ngClass]="{ 'is-invalid': submitted1 && g['v_gender_id'].errors }">
                                        <option value="">--Select Gender--</option>
                                        <option *ngFor="let gen of gender_list" [ngValue]="gen.genderid">{{gen.gendername}}</option>
                                    </select>
                                        <div *ngIf="submitted1 && g['v_gender_id'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_gender_id'].errors['required']">Select Gender</div>
                                          </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">Email<b class="text-danger">*</b></label>
                                        <input formControlName="v_email2" (keypress)="keyPressSpace_1($event)" [(ngModel)]="email2" type="text" name="name" placeholder="Enter you name" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted1 && g['v_email2'].errors }">
                                        <div *ngIf="submitted1 && g['v_email2'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_email2'].errors['required']">Enter Email</div>
                                          </div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label class="form-label">Mobile<b class="text-danger">*</b></label>
                                        <input formControlName="v_mobile2" [(ngModel)]="mobile2" type="text" name="mobile" placeholder="Enter Mobile Number" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted1 && g['v_mobile2'].errors }"  minlength="10" maxlength="10" pattern="^[6-9][0-9]*$" oninput="if(!this.value.match('^[6-9][0-9]*$'))this.value='';" required>
                                        <div *ngIf="submitted1 && g['v_mobile2'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_mobile2'].errors['required']">Enter Mobile Number</div>
                                            <div *ngIf="g['v_mobile2'].errors['minlength']">Minimum 10 Digit</div>
                                          </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label class="form-label">Address<b class="text-danger">*</b></label>
                                        <textarea formControlName="v_address2" [(ngModel)]="address2" type="text"  placeholder="Your Address" (keypress)="keyPressSpace($event)" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted1 && g['v_address2'].errors }" [cols]="3"></textarea>
                                        <div *ngIf="submitted1 && g['v_address2'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_address2'].errors['required']">Enter Address</div>
                                         </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">City<b class="text-danger">*</b></label>
                                        <input formControlName="v_city2" (keypress)="keyPressSpace($event)" [(ngModel)]="city2" type="text" placeholder="Your city" class="form-control form-control-sm"  [ngClass]="{ 'is-invalid': submitted1 && g['v_city2'].errors }" required>
                                        <div *ngIf="submitted1 && g['v_city2'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_city2'].errors['required']">Enter City</div>
                                         </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">Country<b class="text-danger">*</b></label>
                                       <select class="form-control form-control-sm" formControlName="v_country_id" [(ngModel)]="country_id" (change)="get_state(country_id)" [ngClass]="{ 'is-invalid': submitted1 && g['v_country_id'].errors }">
                                        <option value="">--Select Country--</option>
                                        <option *ngFor="let cou of country_list" [ngValue]="cou.countryid">{{cou.countryname}}</option>
                                    </select>
                                        <div *ngIf="submitted1 && g['v_country_id'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_country_id'].errors['required']">Select Country</div>
                                          </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label">State<b class="text-danger">*</b></label>
                                       <select class="form-control form-control-sm" formControlName="v_state_id" [(ngModel)]="state_id" [ngClass]="{ 'is-invalid': submitted1 && g['v_state_id'].errors }">
                                        <option value="">--Select State--</option>
                                        <option *ngFor="let st of state_list" [ngValue]="st.stateid">{{st.statename}}</option>
                                    </select>
                                        <div *ngIf="submitted1 && g['v_state_id'].errors" class="invalid-feedback">
                                            <div *ngIf="g['v_state_id'].errors['required']">Select State</div>
                                          </div>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label class="form-label">Pincode<b class="text-danger">*</b></label>
                                        <input formControlName="pincode2" [(ngModel)]="pincode_new" type="text"  placeholder="Pincode" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted1 && g['pincode2'].errors }"  minlength="6" maxlength="6" pattern="^[1-9][0-9]*$" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';" required>
                                        <div *ngIf="submitted1 && g['pincode2'].errors" class="invalid-feedback">
                                            <div *ngIf="g['pincode2'].errors['required']">Enter Pincode</div>
                                            <div *ngIf="g['pincode2'].errors['minlength']">Minimum 6 Digit</div>
                                         </div>
                                    </div>
                                </div>


                                      <br>
                                      <div class="col-md-12 mt-4">
                                        <div class="text-center">

                                            <input type="text" [(ngModel)]="address_id" hidden>
                                            <a type="button" class="btn btn-template wide next"  (click)="cancel()" >Clear</a> &nbsp;
                                            <a type="button" class="btn btn-template wide next"  (click)="insert_invoice_address()" >
                                                Save<i class="fa fa-angle-right"></i>
                                            </a>

                                        </div>
                                    </div>

                            </form>

                    </div>
                  </div>


              </div>
            </div>

        </div>

      </div>
    </div>
  </div>
