
<section class="checkout">
  <!-- <div class="mt-3">
    <div class="d-flex justify-content-end">
      <div class="form-group">
      <select class="form-select  shadow shadow-sm" [(ngModel)]="page_name" (change)="redirect_to_page(page_name)" aria-label="Default select example">
        <option value="">Filter By Group</option>
        <option value="1">FC to Hub</option>
        <option value="2">FC to Customer</option>
        <option value="3">Assign DE (Pickup From Vendor)</option>
        <option value="4">Receive Consignment (Pickup From Vendor)</option>
        <option value="5">Receive Consignment (From Hub)</option>
      </select>
      </div>
    </div>
  </div> -->
  
  <div class="container">
      <div class="row">
          <div class="col-12">
            <ul class="nav nav-pills">
              <li class="nav-item"><a  class="nav-link " href="/app/fc_consignment_list">Collect Consigment</a></li>
              <li class="nav-item"><a  class="nav-link active" >Facilitation To Customer</a></li>
              <li class="nav-item"><a  class="nav-link" href="/app/fc_facilitation_to_hub">Facilitation To Hub</a></li>
            
            </ul>
          </div>
      </div>
  </div>
</section>


<div class="container min-vh-100">
  <div *ngIf="listitm==false">
            <div class=" mb-2 row" [formGroup]="form">
  <div class="row">           
    <div class="col-md-4">
      <label  class="form-label">Order By</label>
      <select  class="form-control"  formControlName="v_order_by" [(ngModel)]="order_by" (change)="change_order_by(order_by)">
        <option value="">-- Select --</option>
        <option value="Customer">Customer</option>
        <option value="Pincode">Pincode</option>
      </select>           
    </div>
    
            <div class="col-md-4"><br>
              <div>
                <span *ngIf="count_weight>total_weight">Max Weight = {{count_weight|number}}</span>

                <!-- <span *ngIf="count_weight<=total_weight"> Max Weight({{total_weight}})={{count_weight|number}} </span> -->
                
            </div>
            <!-- <div *ngIf="delivery_executive_id!=''">
             <span *ngIf="count_vol_weight>total_vol_weight" style="color:red"> Max Volumetric Weight({{total_vol_weight}})={{count_vol_weight|number}}<br>Max Volumetric Reached </span>             
             <span *ngIf="count_vol_weight<=total_vol_weight"> Max Volumetric Weight({{total_vol_weight}})={{count_vol_weight|number}} </span>             
            </div> -->
          </div>

          
                   
  </div> 
</div>

  <table class="table table-bordered my-4 p-1  shadow shadow-sm border-0" >
    <thead>
      <tr>
                            <th>SL No</th>
                            <th>Select</th>
                            <th>Customer Name</th>
                            <th>Customer Address</th>
                            <th>Customer Pincode</th>
                            <th>Con Id</th>
                            <th>Product Name</th>
                            <th>Dimension(cm)(LBH)</th>                         
                            <th>Total Weight(kg)</th>
                       
      </tr>
    </thead>
    <tbody>
            <tr *ngFor="let con of fc_to_cs_consignment_list|filter:search| paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index">
            <th>{{tableSize *(page-1)+i+1}}</th>
        <td>
          <input class="form-check-input"   (change)="click_change(con)"  type="checkbox" [(ngModel)]="con.is_check"/>
        </td>
        <td>{{con.customer_name}}</td>
        <td>{{con.address_line_1}}&nbsp;{{con.address_line_2}} &nbsp;
          {{con.city}}&nbsp;{{con.state_name}}</td>
        <td>{{con.pincode}}</td>
        <td>{{con.consignment_id}}</td>
        <td>{{con.item_name}}</td>
        <td>{{con.consignment_l}}*{{con.consignment_b}}*{{con.consignment_h}}</td>    
         <td>{{con.weight|number}}</td>
   
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
          <div class="row" [formGroup]="form">
            <div class="col-md-4">
              <label  class="form-label">Delivery Executive</label>
              <select  class="form-control"  formControlName="deliveryExecutive" [(ngModel)]="delivery_executive_id"   [ngClass]="{ 'is-invalid': submitted && f['deliveryExecutive'].errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let ex of  delivery_exe_dd" [ngValue]="ex.delivery_executive_id">
                    {{ex.delivery_executive_id+": "+ex.first_name+" "+ex.second_name+" :"+ex.vehicle_type+" : "+ex.max_weight+" (kg)"}}
             </option>
              </select>
              <div *ngIf="submitted && f['deliveryExecutive'].errors" class="invalid-feedback">
                    <div *ngIf="f['deliveryExecutive'].errors['required']">Select Delivery Executive </div> 
                  </div>
                  <div style="color: red;"> {{de_message}}</div> 
            </div>
            </div>
  <div class="text-end">
            <button class="btn btn-sm btn-primary ms-2" (click)="assig_fc_customer()">Assign</button>
            
   </div>
  </div>
<div *ngIf="listitm==true">
  <div>
            <h4>Assigned List</h4>
  </div>
  <div class="text-end">
            <button class="btn btn-sm btn-primary ms-2" (click)="onClick(1)">Generated</button>
   </div>

          <table class="table table-bordered my-4 p-1  shadow shadow-sm border-0" *ngIf="listitm==true">
            <thead>
              <tr>
                <th>SL No</th>
                <th>Boundle Id</th>
                 <th>Consignment ID</th>
               <th>Delivery Executive Name</th>
                <th>Dimension</th>
                <th>Volumetric Weight(kg)</th>
                <th>Weight(kg)</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
       
              
                <tr *ngFor="let gen of consignment_generared_list|filter:search1| paginate: {itemsPerPage: tableSize1, currentPage: page1, totalItems: count1};let i = index">
                      <th>{{tableSize1 *(page1-1)+i+1}}</th>
                <td>{{gen.boundle_id}}</td>
                <td>{{gen.consignment_id}}</td>
                <td>{{gen.executive_name}}</td>
                <td>{{gen.consignment_l}}*{{gen.consignment_b}}*{{gen.consignment_h}}</td>
                <td>{{(gen.consignment_l+gen.consignment_b+gen.consignment_h)/366|number}}</td>
                <td>{{gen.weight/1000|number}}</td>
                <td>Pickup</td>
              </tr>
            </tbody>
          </table>
    <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange1($event)"
            >
            </pagination-controls>
          </div>
  </div>

