

<section class="hero hero-page gray-bg padding-small">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-9 order-2 order-lg-1">
                <h1>Add Product</h1>
            </div>
            <div class="col-lg-3 text-right order-1 order-lg-2">
                <ul class="breadcrumb justify-content-lg-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav ">
                    <li class="nav-item"><a class="nav-link active">New Product</a></li>
                    <li class="nav-item"><a class="nav-link">Product Specification </a></li>
                    <li class="nav-item"><a class="nav-link">Item Specification Set For Vendor</a></li>
                    <li class="nav-item"><a class="nav-link">Add Product Feature</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" >Add Product Variant</a></li> -->
                </ul>
            </div>
        </div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="tab-content">
                        <div id="product_info" class="active tab-block">
                            <form [formGroup]="form"   novalidate>
                            <div class="row">

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Category<b style="color:red">*</b></label>
                                        <select class="form-control" [(ngModel)]="cat_id" formControlName="catname"
                                        (change)="get_sub_category(cat_id)" [ngClass]="{ 'is-invalid': submitted && f['catname'].errors }">
                                            <option value="">-- Select Category --</option>
                                            <option *ngFor="let cat of category_list" value="{{cat.mcid}}" ng-selected="{{cat.mcid == cat_id}}">
                                                {{cat.categoryname}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['catname'].errors" class="invalid-feedback">
                                            <div *ngIf="f['catname'].errors['required']">Select Category</div>
                                          </div>
                                        <!-- <div *ngIf="f['catname'].touched || f['catname'].invalid" class="text-danger">
                                            <div *ngIf="f['catname'].errors && f['catname'].errors['required']">Select  Category</div>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">SubCategory <b style="color:red">*</b></label>
                                        <select class="form-control"   [(ngModel)]="sub_cat_id" formControlName="sub_cat"
                                         (change)="get_spl_category(cat_id,sub_cat_id)" [ngClass]="{ 'is-invalid': submitted && f['sub_cat'].errors }">
                                            <option value="">-- Select Sub Category --</option>
                                            <option *ngFor="let subcat of sub_category_list" value="{{subcat.mscid}}" ng-selected="{{subcat.mscid == sub_cat_id}}">
                                                {{subcat.subcategory_name}}
                                            </option>
                                          </select>
                                          <div *ngIf="submitted && f['sub_cat'].errors && f['sub_cat'].touched" class="invalid-feedback">
                                            <div *ngIf="f['sub_cat'].errors['required']">Select SubCategory</div>
                                          </div>
                                    </div>
                                </div>


                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Additional Category <b style="color:red">*</b></label>
                                        <select class="form-control" formControlName="add_cat" (change)="get_add_category()"
                                         [(ngModel)]="additionalcat_id" [ngClass]="{ 'is-invalid': submitted && f['add_cat'].errors }">
                                            <option value="">-- Select Additional Category --</option>
                                            <option *ngFor="let addcat of additional_category_list" value="{{addcat.additionalcat_id}}" ng-selected="{{addcat.additionalcat_id == additionalcat_id}}">
                                                {{addcat.additionalcat_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['add_cat'].errors" class="invalid-feedback">
                                            <div *ngIf="f['add_cat'].errors['required']">Select Additional Category</div>
                                          </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Product Type<b style="color:red">*</b></label>
                                        <select class="form-control" formControlName="producttype" [(ngModel)]="product_type_id"
                                        [ngClass]="{ 'is-invalid': submitted && f['producttype'].errors }">
                                            <option value="">-- Select Product Type --</option>
                                            <option *ngFor="let producttype of product_type_list" value="{{producttype.producttypeid}}" ng-selected="{{producttype.producttypeid == product_type_id}}">
                                                {{producttype.producttypename}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['producttype'].errors" class="invalid-feedback">
                                            <div *ngIf="f['producttype'].errors['required']">Select Product Type</div>
                                          </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <label class="form-label">Product Name<b style="color:red">*</b></label>
                                    <input type="text" class="form-control" formControlName="productname_en"
                                    [(ngModel)]="product_name" placeholder="Enter Product Name" [ngClass]="{ 'is-invalid': submitted && f['productname_en'].errors }" />
                                    <div *ngIf="submitted && f['productname_en'].errors" class="invalid-feedback">
                                        <div *ngIf="f['productname_en'].errors['required']">Enter Product Name</div>
                                        <div *ngIf="f['productname_en'].errors && f['productname_en'].errors['pattern']">Product Name is invalid!</div>
                                      </div>
                                </div>


                                <div class="col-sm-6 col-md-6" *ngIf="additionalcat_id!=''">
                                    <label class="form-label">Base Price <b style="color:red">*</b></label>
                                    <input  type="number" min="1" (change)="get_hsncode(cat_id,sub_cat_id,additionalcat_id)" class="form-control" formControlName="baseprice" max="100000" step="0.01"
                                    [(ngModel)]="base_price" placeholder="Enter Base Price"
                                    oninput="validity.valid||(value='');" [ngClass]="{ 'is-invalid': submitted && f['baseprice'].errors }">
                                    <div *ngIf="submitted && f['baseprice'].errors" class="invalid-feedback">
                                        <div *ngIf="f['baseprice'].errors['required']">Enter Base Price</div>
                                      </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="tab-content">
                                        <div id="product_info" class="active tab-block">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h6 class="my-3">Product Unique Codes</h6>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="form-label">HSN Code<b style="color:red">*</b></label>
                                                    <input type="text" class="form-control" formControlName="hsn" 
                                                    [(ngModel)]="hsn_code" placeholder="Enter HSN Code"  [ngClass]="{ 'is-invalid': submitted && f['hsn'].errors }"/>
                                                    <div *ngIf="submitted && f['hsn'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['hsn'].errors['required']">Enter HSN Code</div>
                                                      </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="form-label">IAN Code <b style="color:red">*</b></label>
                                                    <input type="text" class="form-control" formControlName="ian" [(ngModel)]="ian_code"
                                                     placeholder="Enter IAN Code" [ngClass]="{ 'is-invalid': submitted && f['ian'].errors }" />
                                                     <div *ngIf="submitted && f['ian'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['ian'].errors['required']">Enter IAN Code</div>
                                                      </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="uom_id" class="form-label">Set Product Unit</label>
                                        <select class="form-control" formControlName="uom" [(ngModel)]="uom_id" [ngClass]="{ 'is-invalid': submitted && f['uom'].errors }">
                                            <option value="">-- Select Product Unit--</option>
                                            <option *ngFor="let uom of uom_list" value="{{uom.uomid}}" ng-selected="{{uom.uomid == uom_id}}">
                                                {{uom.uom_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['uom'].errors" class="invalid-feedback">
                                            <div *ngIf="f['uom'].errors['required']">Set Product Unit</div>
                                          </div>
                                    </div>
                                </div>



                                <div class="col-sm-6 col-md-6">
                                    <label class="form-label">BOM Item Contain</label>
                                    <select class="form-control" formControlName="bommm" [(ngModel)]="is_contains_bom" [ngClass]="{ 'is-invalid': submitted && f['bommm'].errors }">
                                        <option value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                    <div *ngIf="submitted && f['bommm'].errors" class="invalid-feedback">
                                        <div *ngIf="f['bommm'].errors['required']">Select BOM Item Contain</div>
                                      </div>
                                </div>




                                <div class="col-sm-6 col-md-6">
                                    <label class="form-label">Short Description<b style="color:red">*</b></label>
                                    <textarea type="text" class="form-control" cols="30" rows="3" formControlName="short_desc_en"
                                     [(ngModel)]="short_description"  placeholder="Enter Short Description" [ngClass]="{ 'is-invalid': submitted && f['short_desc_en'].errors }"></textarea>
                                     <div *ngIf="submitted && f['short_desc_en'].errors" class="invalid-feedback">
                                        <div *ngIf="f['short_desc_en'].errors['required']">Enter Short Description</div>
                                      </div>
                                </div>



                                <div class="col-sm-3 col-md-3">
                                    <label class="form-label">Product Image <b style="color:red">*</b></label><br />
                                    <input type="file" formControlName="itemimage"  accept="image/*"[(ngModel)]="p_imageurl"
                                    (change)="selectFileUpload($event)" id="img" #imageInput [ngClass]="{ 'is-invalid': submitted && f['itemimage'].errors }">
                                    <b style="color: red;">Note: Image Ratio 1*1, <br> 
                                        Image Should Be jpg formate,<br>
                                      Image Should Be good Quality</b>
                                      
                                    <div *ngIf="submitted && f['itemimage'].errors" class="invalid-feedback">
                                        <div *ngIf="f['itemimage'].errors['required']">Upload Image</div>
                                      </div>

                                </div>

                                <div class="col-sm-3 col-md-3">
                                    <div>
                                        <img id="productimg" src="{{imageBaseUrl+p_imageurl}}" class="img-responsive" />
                                    </div>
                                    <div class="row">
                                        <div class="col-6">  
                                            <!-- [aspectRatio]='2/2'                -->
                                          <image-cropper 
                                              [imageChangedEvent]="imageChangedEvent"
                                              [maintainAspectRatio]="false"
                                        
                                              format="png"
                                              (imageCropped)="imageCropped($event)"                       
                                              (cropperReady)="cropperReady()" 
                                              (imageLoaded)="imageLoaded($event)"
                                              (loadImageFailed)="loadImageFailed()"
                                              id="imagepanel"></image-cropper>              
                                        </div>
                                        <!-- <div class="col-6">
                                          <img [src]="croppedImage"  />
                                        </div> -->
                                  
                                       
                                      </div>
                                </div>
                            </div>
                        </form>
                            </div>
                    </div>
                </div>

                <div class="col-lg-12 mt-4">
                    <div class="text-center">
                        <input type="text" [(ngModel)]="product_id" hidden />
                        <a type="button" class="btn btn-template wide next"  (click)="Clear()" [disabled]="btn_dissable==false">
                            Clear
                        </a>&nbsp;
                        <a type="button" class="btn btn-template wide next"  (click)="savedata()" [disabled]="btn_dissable==false">
                            Add Product<i class="fa fa-angle-right"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="row mt-2" *ngFor="let val of validation_list">
                <div class="col-md-9" style="color:red">{{val}}</div>
            </div>
    </div>
</section>

