<section class="min-vh-100 checkout">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a  class="nav-link" href="/app/hub_consignment_list">Receive Consigment</a></li>
                  <li class="nav-item"><a  class="nav-link"  href="/app/fc_hub_or_hub_fc">FC to HUB and HUB To FC</a></li>
                  <li class="nav-item"><a  class="nav-link active">Hub To Hub</a></li>
                  <!-- <li class="nav-item"><a  class="nav-link" href="/app/hub_arrived_destination">Arrived at Destination</a></li> -->
                </ul>   
                
                <br>
                <div class="row">
                 <div class="col-md-10">
                  
                     <!-- <input type="radio" class="btn-check" (click)="change_consignment(0)" name="options-outlined" id="Accept1" autocomplete="off" checked>
                     <label class="btn btn-outline-success" for="Accept1">Send To Hub
                       &nbsp; <span class="badge bg-primary" alignment="text-left" >{{0}}</span></label> &nbsp; -->
                     
                     <!-- <input type="radio" class="btn-check"  (click)="change_consignment(1)" name="options-outlined" id="Accept2" autocomplete="off">
                     <label class="btn btn-outline-success" for="Accept2">Assign Pickup From Public Transport To Hub 
                       &nbsp; <span class="badge bg-primary" alignment="text-left" >{{consignment_receive.length}}</span></label> -->
                 </div>
                 <div class="col-md-2"></div>
                </div>


              </div>        
            </div>
          </div>
    

<div class="container">
  
          <div [formGroup]="form">
            <div class="row">
              <div class="col-md-6">
                <label  class="form-label">Area/City List</label>
                <select class="form-select" multiple formControlName="selectOpt" (change)="get_data()">
                  <option value=0>Select All</option>
                  <option *ngFor="let area of hub_area_list"  [ngValue]="area.city_id">
                     {{ area.city_name }}</option>                    
                </select>
              </div>
            </div>
         <!-- <div class=" mb-2 row" >
          <div class="row">
                    <div class="col-md-4">
                      <label  class="form-label">Delivery Executive<b style="color:red ;">*</b></label>
                      <select  class="form-control"  formControlName="deliveryExecutive" [(ngModel)]="delivery_executive_id" (change)="change_consignment_list(delivery_executive_id)"  [ngClass]="{ 'is-invalid': submitted && f['deliveryExecutive'].errors }">
                        <option value="">-- Select --</option>
                        <option *ngFor="let ex of  executive_list_dd" [ngValue]="ex.delivery_executive_id">
                            {{ex.delivery_executive_id+": "+ex.first_name}}
                     </option>
                      </select>
                      <div *ngIf="submitted && f['deliveryExecutive'].errors" class="invalid-feedback">
                            <div *ngIf="f['deliveryExecutive'].errors['required']">Select Delivery Executive </div> 
                          </div>
                    </div>
                    <div class="col-md-4" *ngIf="this.vehicle_type==null">
                              <label  class="form-label">Local Vehicle<b style="color:red ;">*</b></label>
                              <select  class="form-control" (change)="get_vehicle_details(hub_vehicle_id)"  formControlName="hubvehicle_id" [(ngModel)]="hub_vehicle_id"   [ngClass]="{ 'is-invalid': submitted && f['hubvehicle_id'].errors }">
                                <option value="">-- Select --</option>
                                <option *ngFor="let vehicle of  hub_vehicle_list_dd" [ngValue]="vehicle.hub_vehicle_id">
                                    {{vehicle.vehicle_type+" : "+vehicle.vehicle_reg_number+" : "+vehicle.max_weight+"(kg)"}}
                             </option>
                              </select>
                              <div *ngIf="submitted && f['hubvehicle_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['hubvehicle_id'].errors['required']">Select Vehicle </div> 
                                  </div>
                            </div>

                    <div class="col-md-4" >
                      <label  class="form-label">Public Vehice<b style="color:red ;">*</b></label>
                      <select  class="form-control"  formControlName="route_details" [(ngModel)]="route_id" (change)="change_route_data(route_id)"  [ngClass]="{ 'is-invalid': submitted && f['route_details'].errors }">
                        <option value="">-- Select --</option>
                        <option *ngFor="let route of  hub_transport_route" [ngValue]="route.hub_route_id">
                            {{route.hub_name+": "+route.transport_mode_name+": "+route.transport_registration_no
                            +": "+route.departure_time}}
                     </option>
                      </select>
                      <div *ngIf="submitted && f['route_details'].errors" class="invalid-feedback">
                            <div *ngIf="f['route_details'].errors['required']">Select Route </div> 
                          </div>

                </div>

                   
                           
          </div>
    </div> -->
    <br>
 
         <div class="row">
          <div class="col-sm-12">
                    <h5>Assign To Hub</h5>
                    <table class="table table-hover table-responsive table-bordered">
                              <thead>
                                  <tr>                                     
                                      <th><a ><b>SL.No.</b></a></th>
                                      <th><a ><b>Select</b></a></th>
                                      <th><a ><b>Last Hub</b></a> </th>                                      
                                      <th><a ><b>Item Name</b></a> </th>   
                                      <th><a ><b>Con No</b></a> </th>                               
                                      <th><a ><b>Dimension(cm)(LBH)</b></a> </th>    
                                      <th><a ><b>Weight(kg)</b></a> </th>  
                                      <th>Next Hub</th>                          
                                      <th>Transport Mode</th>    
                                      <th>Transport Reg no</th>                     
                                      <th>Departure Time</th>   
                                      <th>Action</th> 
                                  </tr>
                              </thead>
                            
                              <tbody>                             
                                <!-- <tbody>
                                  <tr *ngFor="let hb of hub_to_hub_list| filter:search | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index; filter:search"> 
                                    <td>{{i+1}}</td> 
                                    <td>
                                      <input  class="form-check-input"  type="checkbox" (change)="click_change(hb)" formControlName="v_ischeck"  [(ngModel)]="hb.is_check"/>
                                  </td>                                  
                                    <td class="text-left"><b>{{hb.city_name}}</b>
                                    </td> 
                                    <td class="text-left">{{hb.item_name}}</td>  
                                      <td class="text-left">{{hb.consignment_id}}</td>  
                                      <td class="text-left">{{hb.consignment_l}}*{{hb.consignment_b}}*{{hb.consignment_b}}</td>    
                                      <td class="text-left">{{hb.weight}}</td>  
                                      <td>{{hb.next_hub}}</td> 
                                      <td>{{hb.transport_mode_name}}</td>
                                      <td>{{hb.transport_registration_no}}</td>
                                      <td>{{hb.departure_time}}</td>
                                      <td>
                                        <button type="button" (click)="edit_hub_data(hb)">Edit</button>
                                        </td>
                                  </tr> 
                              
                              </tbody>                        -->
                               

                                 <tbody *ngFor="let con of consignment_list| filter:search | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index; filter:search">
                                  <tr> 
                                    <td class="text-center" [attr.rowspan]="con.hub_details_list.length+1" >{{i+1}}</td> 
                                    <td [attr.rowspan]="con.hub_details_list.length+1">
                                      <input  class="form-check-input"  type="checkbox" (change)="click_change(con)" formControlName="v_ischeck"  [(ngModel)]="con.is_check"/>
                                  </td>
                                  
                                    <td [attr.rowspan]="con.hub_details_list.length+1"><b>{{con.city_name}}</b>
                                    </td>                   
                                  </tr> 
                                    <tr *ngFor="let hb of con.hub_details_list">
                               
                                    <td>{{hb.item_name}}</td>  
                                      <td>{{hb.consignment_id}}</td>  
                                      <td>{{hb.consignment_l}}*{{hb.consignment_b}}*{{hb.consignment_b}}</td>    
                                      <td>{{hb.weight}}</td>   
                                      <td>{{hb.next_hub}}</td> 
                                      <td>{{hb.transport_mode_name}}</td> 
                                      <td>{{hb.transport_registration_no}}</td> 
                                      <td>{{hb.departure_time}}</td> 
                                      <td><button type="button" class="btn btn-primary btn-sm" (click)="edit_hub_data(hb)">Edit</button></td> 
                                  </tr> 
                                  <!-- <i class="fa fa-edit"></i> -->
                              </tbody> 
                          </table>
          <div class="d-flex justify-content-center">
                    <pagination-controls
                      previousLabel="Prev"
                      nextLabel="Next"
                      (pageChange)="onTableDataChange($event)"
                    >
                    </pagination-controls>
          </div>
          </div>

         

          </div>

          <div class="border p-2 shadow shadow-sm" *ngIf="edit_route">
          <div class="row" > 
            <div class="col-md-4">
              <label  class="form-label">Hub List<b style="color:red ;">*</b></label>
              <select  class="form-control" formControlName="hubid1" (change)="get_tfr_mode(hubid)" [(ngModel)]="hubid"   [ngClass]="{ 'is-invalid': submitted && f['hubid1'].errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let bb of hub_list" [ngValue]="bb.hub_id">
                    {{bb.hub_name}}
             </option>
              </select>
              <div *ngIf="submitted && f['hubid1'].errors" class="invalid-feedback">
                    <div *ngIf="f['hubid1'].errors['required']">Select Vehicle Type</div> 
                  </div>
            </div>
        
            <div class="col-md-4">
              <label  class="form-label">Transport Mode<b style="color:red ;">*</b></label>
              <select  class="form-control" formControlName="tfrid" (change)="get_departure_time(transport_mode_id)" [(ngModel)]="transport_mode_id"   [ngClass]="{ 'is-invalid': submitted && f['tfrid'].errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let tf of tfr_mode_list" [ngValue]="tf.transport_mode_id">
                    {{tf.transport_mode_name}}
             </option>
              </select>
              <div *ngIf="submitted && f['tfrid'].errors" class="invalid-feedback">
                    <div *ngIf="f['tfrid'].errors['required']">Select Transport Mode</div> 
                  </div>
            </div>
          
            <div class="col-md-4">
              <label  class="form-label">Departure Time<b style="color:red ;">*</b></label>
              <select  class="form-control" formControlName="hubroute" [(ngModel)]="hub_route"   [ngClass]="{ 'is-invalid': submitted && f['hubroute'].errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let time of hub_route_time_schedule" [ngValue]="time.hub_route_id">
                    {{time.departure_time}}
             </option>
              </select>
              <div *ngIf="submitted && f['hubroute'].errors" class="invalid-feedback">
                    <div *ngIf="f['hubroute'].errors['required']">Select Schedure Time</div> 
                  </div>
            </div> 
        </div>
    
<br>
        <div class="row" *ngIf="edit_route">
          <div class="col-md-12 text-center">
          <button class="btn btn-sm btn-warning ms-2" (click)="reset()">Reset</button>
                  <button class="btn btn-sm btn-primary ms-2" (click)="update_route()">Update</button>
                </div>
        </div>
      </div>





        <!-- <div class="row" *ngIf="!edit_route"> -->
          <div class="row" hidden>
            <div class="col-md-4">
              <label  class="form-label">Hub List<b style="color:red ;">*</b></label>
              <select  class="form-control"  formControlName="hubid" (change)="change_tfr_mode(hub_id)"  [(ngModel)]="hub_id"  [ngClass]="{ 'is-invalid': submitted && f['hubid'].errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let hb of  hub_name_list" [ngValue]="hb.hub_id">
                    {{hb.hub_name}}
             </option>
              </select>
              <div *ngIf="submitted && f['hubid'].errors" class="invalid-feedback">
                    <div *ngIf="f['hubid'].errors['required']">Select Hub </div> 
                  </div>
            </div>
            <div class="col-md-4">
                      <label  class="form-label">Mode Of Transport<b style="color:red ;">*</b></label>
                      <select  class="form-control" (change)="get_vehicle_data(transport_mode)"  formControlName="transportmode" [(ngModel)]="transport_mode"   [ngClass]="{ 'is-invalid': submitted && f['transportmode'].errors }">
                        <option value="">-- Select --</option>
                        <option *ngFor="let tfr of  transport_mode_list" [ngValue]="tfr.transport_mode_id">
                            {{tfr.transport_mode_name}}
                     </option>
                      </select>
                      <div *ngIf="submitted && f['transportmode'].errors" class="invalid-feedback">
                            <div *ngIf="f['transportmode'].errors['required']">Select Mode Of Transport </div> 
                          </div>
                    </div>
                    <div class="col-md-12" *ngIf="hut_to_hub_compare_array.length>0">
                      <br>
                      <h6 style="color: red;">Select Hub and Destination Hub Not Match, Please Assign Particular Hub Consignment</h6>
                      <table class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>                                     
                                <th><a ><b>SL.No.</b></a></th>
                                <!-- <th><a ><b>Select</b></a></th> -->
                                <th><a ><b>Last Hub</b></a> </th>                                      
                                <th><a ><b>Item Name</b></a> </th>   
                                <th><a ><b>Con No</b></a> </th>                               
                                <th><a ><b>Dimension(cm)(LBH)</b></a> </th>    
                                <th><a ><b>Weight(kg)</b></a> </th>  
                                <th>Next Hub</th>       
                               
                                
                            </tr>
                        </thead>
                      
                        <tbody>                             
                          <tbody>
                            <tr *ngFor="let hb of hut_to_hub_compare_array| filter:search | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index; filter:search"> 
                              <td>{{i+1}}</td> 
                              <!-- <td>
                                <input  class="form-check-input"  type="checkbox" (change)="click_change(hb)" formControlName="v_ischeck"  [(ngModel)]="hb.is_check"/>
                            </td>                                   -->
                              <td class="text-left"><b>{{hb.city_name}}</b>
                              </td> 
                              <td class="text-left">{{hb.item_name}}</td>  
                                <td class="text-left">{{hb.consignment_id}}</td>  
                                <td class="text-left">{{hb.consignment_l}}*{{hb.consignment_b}}*{{hb.consignment_b}}</td>    
                                <td class="text-left">{{hb.weight}}</td>  
                                <td>{{hb.next_hub}}</td> 
                               
                            </tr> 
                        
                        </tbody>                       
                         
                    </table>
                    </div>
                  </div>
   <div class="row" *ngIf="transport_mode!='' && transport_mode!=null && !edit_route"> 
    <div class="col-md-4" *ngIf="transport_mode=='3'">
      <label  class="form-label">Vehicle Type<b style="color:red ;">*</b></label>
      <select  class="form-control" (change)="get_vehicle_type(vehicle_type_id)" formControlName="vehicletype_id" [(ngModel)]="vehicle_type_id"   [ngClass]="{ 'is-invalid': submitted && f['vehicletype_id'].errors }">
        <option value="">-- Select --</option>
        <option *ngFor="let vh of transport_vehicle_type_list" [ngValue]="vh.vehicle_type_id">
            {{vh.vehicle_type}}
     </option>
      </select>
      <div *ngIf="submitted && f['vehicletype_id'].errors" class="invalid-feedback">
            <div *ngIf="f['vehicletype_id'].errors['required']">Select Vehicle Type</div> 
          </div>
    </div>

    <div class="col-md-4" *ngIf="transport_mode=='3'">
      <label  class="form-label">Vehicle</label>
      <select  class="form-control" (change)="get_vehicle_details(hub_vehicle_id)"  formControlName="hubvehicle_id" [(ngModel)]="hub_vehicle_id"   [ngClass]="{ 'is-invalid': submitted && f['hubvehicle_id'].errors }">
        <option value="">-- Select --</option>
        <option *ngFor="let vehicle of  hub_vehicle_list_dd" [ngValue]="vehicle.vehicle_type_id">
            {{vehicle.vehicle_type+" : "+vehicle.vehicle_reg_number+" : "+vehicle.max_weight+"(kg)"}}
     </option>
      </select>
      <div *ngIf="submitted && f['hubvehicle_id'].errors" class="invalid-feedback">
            <div *ngIf="f['hubvehicle_id'].errors['required']">Select Vehicle </div> 
          </div>
    </div>

    <div class="col-md-4" *ngIf="transport_mode=='1'">
      <label  class="form-label">Air Vehicle</label>
      <select  class="form-control" (change)="get_air_vehicle_details(air_vehicle_id)"  formControlName="airvehicle_id" [(ngModel)]="air_vehicle_id"   [ngClass]="{ 'is-invalid': submitted && f['airvehicle_id'].errors }">
        <option value="">-- Select --</option>
        <option *ngFor="let airv of  transport_air_vehicle_list" [ngValue]="airv.hub_route_id">
            {{airv.transport_registration_no}}
     </option>
      </select>
      <div *ngIf="submitted && f['airvehicle_id'].errors" class="invalid-feedback">
            <div *ngIf="f['airvehicle_id'].errors['required']">Select Vehicle </div> 
          </div>
    </div>


    <div class="col-md-4" *ngIf="transport_mode!=''">
      <label *ngIf="transport_mode=='1'">Air Details<b style="color:red ;">*</b></label>
      <label  *ngIf="transport_mode=='2'" >Train Details<b style="color:red ;">*</b></label>
      <label  *ngIf="transport_mode=='3'" >Vehicle Details<b style="color:red ;">*</b></label>
    <input class="form-control" type="text" placeholder="Enter Details" [(ngModel)]="vehicle_no" formControlName="vehicleno"  [ngClass]="{ 'is-invalid': submitted && f['vehicleno'].errors }">
      <div *ngIf="submitted && f['vehicleno'].errors" class="invalid-feedback">
            <div *ngIf="f['vehicleno'].errors['required']">Enter Vehicle Details</div> 
          </div>
    </div>
   
    <div class="col-md-4">
      <label  class="form-label">Fleet Manager Name<b style="color:red ;">*</b></label>
    <input class="form-control" type="text" placeholder="Enter Fleet Manager Name" [(ngModel)]="fleet_manager_name" formControlName="fleetmanager_name"  [ngClass]="{ 'is-invalid': submitted && f['fleetmanager_name'].errors }">
      <div *ngIf="submitted && f['fleetmanager_name'].errors" class="invalid-feedback">
            <div *ngIf="f['fleetmanager_name'].errors['required']">Enter Fleet Manager Name</div> 
          </div>
    </div>

    <div class="col-md-4">
      <label  class="form-label">Mobile<b style="color:red ;">*</b></label>
    <input class="form-control" type="text" minlength="10" maxlength="10" 
    pattern="^[6-9][0-9]*$" oninput="if(!this.value.match('^[6-9][0-9]*$'))this.value='';" placeholder="Enter Mobile" [(ngModel)]="mobile" formControlName="mob"  [ngClass]="{ 'is-invalid': submitted && f['mob'].errors }">
      <div *ngIf="submitted && f['mob'].errors" class="invalid-feedback">
            <div *ngIf="f['mob'].errors['required']">Enter Mobile</div> 
          </div>
    </div>
    <div class="col-md-4">
      <label  class="form-label">Email</label>
    <input class="form-control" type="email" placeholder="Enter Email" [(ngModel)]="email" formControlName="v_email">   
    </div>

    <div class="col-md-4">
      <label  class="form-label">Expected Dispatch Date<b style="color:red ;">*</b></label>
    <input class="form-control" type="date" (change)="change_reaching_date()" [min]="min_dob| date: 'yyyy-MM-dd'" [(ngModel)]="expected_dispatch_date" formControlName="dispatch_date"  [ngClass]="{ 'is-invalid': submitted && f['dispatch_date'].errors }">
      <div *ngIf="submitted && f['dispatch_date'].errors" class="invalid-feedback">
            <div *ngIf="f['dispatch_date'].errors['required']">Select Expected Dispatch Date</div> 
          </div>
    </div>

    <div class="col-md-4">
     
      <label  class="form-label">Expected Dispatch Time<b style="color:red ;">*</b></label>
    <input class="form-control" type="time"  [(ngModel)]="expected_dispatch_time" step="05" min="00" max="60"  formControlName="dispatch_time"  [ngClass]="{ 'is-invalid': submitted && f['dispatch_time'].errors }">
      <div *ngIf="submitted && f['dispatch_time'].errors" class="invalid-feedback">
            <div *ngIf="f['dispatch_time'].errors['required']">Select Expected Dispatch Time</div> 
          </div>
    </div>

    <div class="col-md-4">
      <label  class="form-label">Expected Reaching Date<b style="color:red ;">*</b></label>
    <input class="form-control" type="date" [min]="expected_dispatch_date| date: 'yyyy-MM-dd'" [(ngModel)]="expected_reaching_date" formControlName="reaching_date"  [ngClass]="{ 'is-invalid': submitted && f['reaching_date'].errors }">
      <div *ngIf="submitted && f['reaching_date'].errors" class="invalid-feedback">
            <div *ngIf="f['reaching_date'].errors['required']">Select Expected Reaching Date</div> 
          </div>
    </div>

    <div class="col-md-4">
      <label  class="form-label">Expected Reaching Time<b style="color:red ;">*</b></label>
    <input class="form-control" type="time" step="05" min="00" max="60" [(ngModel)]="expected_reaching_time" formControlName="reaching_time" [min]="expected_dispatch_time" [ngClass]="{ 'is-invalid': submitted && f['reaching_time'].errors }">
      <div *ngIf="submitted && f['reaching_time'].errors" class="invalid-feedback">
            <div *ngIf="f['reaching_time'].errors['required']">Select Expected Reaching Time  </div> 
          </div>
    </div>
           
</div>

<br>
<div class="row" *ngIf="hut_to_hub_array.length>0 && !edit_route">
  <div class="col-md-12 text-center">
  <button class="btn btn-sm btn-warning ms-2" (click)="reset()">Reset</button>
          <button class="btn btn-sm btn-primary ms-2" (click)="assign_data()">Assign</button>
        </div>
</div>
<br>

</div>
 
</div>    

<!-- <div class="container" *ngIf="showlist==1">
  
  <div [formGroup]="form1">
 <div class=" mb-2 row" >
  <div class="row">
            <div class="col-md-4">
              <label  class="form-label">Delivery Executive<b style="color:red ;">*</b></label>
              <select  class="form-control"  formControlName="deliveryExecutive1" [(ngModel)]="delivery_executive_id1" (change)="change_consignment_list_two(delivery_executive_id1)"  [ngClass]="{ 'is-invalid': submitted1 && g['deliveryExecutive1'].errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let ex1 of  executive_list_dd" [ngValue]="ex1.delivery_executive_id">
                    {{ex1.delivery_executive_id+": "+ex1.first_name}}
             </option>
              </select>
              <div *ngIf="submitted1 && g['deliveryExecutive1'].errors" class="invalid-feedback">
                    <div *ngIf="g['deliveryExecutive1'].errors['required']">Select Delivery Executive </div> 
                  </div>
            </div>
            <div class="col-md-4" *ngIf="this.vehicle_type==null">
                      <label  class="form-label">Local Vehicle<b style="color:red ;">*</b></label>
                      <select  class="form-control" (change)="get_vehicle_details(hub_vehicle_id1)"  formControlName="hubvehicle_id1" [(ngModel)]="hub_vehicle_id1"   [ngClass]="{ 'is-invalid': submitted1 && g['hubvehicle_id1'].errors }">
                        <option value="">-- Select --</option>
                        <option *ngFor="let vehicle of  hub_vehicle_list_dd" [ngValue]="vehicle.hub_vehicle_id">
                            {{vehicle.vehicle_type+" : "+vehicle.vehicle_reg_number+" : "+vehicle.max_weight+"(kg)"}}
                     </option>
                      </select>
                      <div *ngIf="submitted1 && g['hubvehicle_id1'].errors" class="invalid-feedback">
                            <div *ngIf="g['hubvehicle_id1'].errors['required']">Select Vehicle </div> 
                          </div>
                    </div>

                   
  </div>
 
</div>
<br>

 <div class="row" *ngIf="consignment_receive.length>0">
  <div class="col-sm-12">
            <h5>Assign To DE</h5>
            <table class="table table-hover table-responsive table-bordered">
                      <thead>
                          <tr>
                              <th><a ><b>Select</b></a></th>
                              <th><a ><b>SL.No.</b></a></th>
                              <th><a ><b>Batch Id</b></a> </th>   
                              <th><a ><b>Transport Mode</b></a> </th>  
                              <th><a ><b>Registration No</b></a> </th>  
                               <th><a ><b>Item Name</b></a> </th>   
                              <th><a ><b>Con No</b></a> </th>                               
                              <th><a ><b>Diminsion(cm)(LBH)</b></a> </th>    
                              <th><a ><b>Weight(kg)</b></a> </th>                            
                              
                          </tr>
                      </thead>
                    
                      <tbody *ngFor="let con of consignment_receive| filter:search | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count};let i = index; filter:search">
                          <tr>  
                         <td [attr.rowspan]="con.hub_receive_details.length+1">
                          <input  *ngIf="delivery_executive_id1!=''" class="form-check-input"  type="checkbox" (change)="click_change_two(con)" formControlName="v_ischeck1"  [(ngModel)]="con.is_check"/>
                      </td>
                            <td class="text-center" [attr.rowspan]="con.hub_receive_details.length+1" >{{i+1}}</td> 
                             
                                <td class="text-left" [attr.rowspan]="con.hub_receive_details.length+1"><b>{{con.batch_id}}</b>
                            </td>
                            <td class="text-left" [attr.rowspan]="con.hub_receive_details.length+1"><b>{{con.transport_mode_name}}</b>
                            </td>
                            <td class="text-left" [attr.rowspan]="con.hub_receive_details.length+1"><b>{{con.transport_registration_no}}</b>
                            </td>
                           
                          
                          </tr>                          
                           <tr *ngFor="let hub of con.hub_receive_details">
                            <td class="text-left">{{hub.item_name}}</td>  
                              <td class="text-left">{{hub.consignment_id}}</td>  
                              <td class="text-left">{{hub.consignment_l}}*{{hub.consignment_b}}*{{hub.consignment_b}}</td>    
                              <td class="text-left">{{hub.weight}}</td>   
                          </tr> 
                     
                      </tbody>
                  </table>
  <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
  </div>
  </div>

 

  </div>

  <div class="col-md-6" *ngIf="consignment_receive.length>0">
            <button class="btn btn-sm btn-primary ms-2" (click)="assign_pickpfrom_pt()">Assign</button>
 </div>

  </div>
<br>



</div>   -->

</section>
    





