<ngx-spinner  bdColor="rgba(51,51,51,0.8)"  size="medium"  color="#fff"  type="ball-scale-multiple">
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
      <script>
          function isNumber(evt) {
              evt = (evt) ? evt : window.event;
              var charCode = (evt.which) ? evt.which : evt.keyCode;
              if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                  return false;
              }
              return true;
          }

      </script>

      <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills">
                     <li class="nav-item"><a class="nav-link" href="/app/hub_manager_login">Hub Manager Login</a></li>
                     <li class="nav-item"><a class="nav-link active" >Facilitationr Login</a></li>
                     <li class="nav-item"><a class="nav-link" href="/app/create_account_user">Accountant User Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
      </section>

          <section class="padding-small" >
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                                  <br>
                          <!-- <div class="block-header mb-5">
                              <h5>Hub Manager User Creation</h5>
                          </div> -->
                          <form method="post" [formGroup]="hubmanagervalid" class="content-block">
                              <div class="row">


                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label  class="form-label">Email<b style="color: red;">*</b></label>
                                          <input  formControlName="vemail" type="email" class="form-control" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f['vemail'].errors }">
                                          <div *ngIf="submitted && f['vemail'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['vemail'].errors['required']">Enter Email</div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label  class="form-label">Mobile<b style="color: red;">*</b></label>
                                          <input  formControlName="phonenumber" type="text" class="form-control" [(ngModel)]="mobile"
                                                minlength="10" maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }">
                                                <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['phonenumber'].errors['required']">Enter Mobile Number</div>
                                                </div>

                                      </div>
                                  </div>
                                  <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label  class="form-label">Hub<b style="color: red;">*</b></label>
                                        <select class="form-control" formControlName="v_hub" [(ngModel)]="hub_id" (change)="get_facilitation(hub_id)" [ngClass]="{ 'is-invalid': submitted && f['v_hub'].errors }">
                                            <option value="">-- Select Hub --</option>
                                            <option *ngFor="let hub of hub_list" [ngValue]="hub.hub_id">
                                                {{hub.hub_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['v_hub'].errors" class="invalid-feedback">
                                                <div *ngIf="f['v_hub'].errors['required']">Select Hub</div>
                                              </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label  class="form-label">Falitation Center<b style="color: red;">*</b></label>
                                        <select class="form-control" formControlName="facilitationid" [(ngModel)]="facilitation_id" [ngClass]="{ 'is-invalid': submitted && f['facilitationid'].errors }">
                                            <option value="">-- Select Falitation Center --</option>
                                            <option *ngFor="let fc of facilitation_list" [ngValue]="fc.facilitation_id">
                                                {{fc.facilitation_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['facilitationid'].errors" class="invalid-feedback">
                                                <div *ngIf="f['facilitationid'].errors['required']">Select Falitation Center</div>
                                              </div>

                                    </div>
                                </div>

                                  <div class="col-sm-12">
                                      <div class="form-group">
                                          <label for="address" class="form-label">Address<b style="color: red;">*</b></label>
                                          <textarea  formControlName="vaddress" type="text" class="form-control" [(ngModel)]="address" [ngClass]="{ 'is-invalid': submitted && f['vaddress'].errors }"></textarea>
                                          <div *ngIf="submitted && f['vaddress'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['vaddress'].errors['required']">Enter Address</div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label  class="form-label">Country<b style="color: red;">*</b></label>
                                      <select class="form-control"  formControlName="vcountryid" [(ngModel)]="countryid" (click)="getstate(countryid)" [ngClass]="{ 'is-invalid': submitted && f['vcountryid'].errors }">
                                          <option value="">-- Select Country --</option>
                                          <option *ngFor="let cname of countrylist" [ngValue]="cname.countryid">
                                              {{cname.countryname}}
                                          </option>
                                      </select>
                                      <div *ngIf="submitted && f['vcountryid'].errors" class="invalid-feedback">
                                        <div *ngIf="f['vcountryid'].errors['required']">Select Country</div>
                                      </div>
                                  </div>
                                  <div class="col-sm-6 ">
                                      <div class="form-group">
                                          <label  class="form-label">State<b style="color: red;">*</b></label>
                                          <select class="form-control" (click)="getcity(countryid,stateid)" formControlName="vstate" [(ngModel)]="stateid" [ngClass]="{ 'is-invalid': submitted && f['vstate'].errors }">
                                              <option value="">-- Select State --</option>
                                              <option *ngFor="let state of statelist" [ngValue]="state.stateid">
                                                  {{state.statename}}
                                              </option>
                                          </select>
                                          <div *ngIf="submitted && f['vstate'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['vstate'].errors['required']">Select State</div>
                                                </div>
                                      </div>
                                  </div>

                                  <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label  class="form-label">City<b style="color: red;">*</b></label>
                                        <select class="form-control" formControlName="vcity" [(ngModel)]="city_id" [ngClass]="{ 'is-invalid': submitted && f['vcity'].errors }">
                                            <option value="">-- Select City --</option>
                                            <option *ngFor="let city of city_list" [ngValue]="city.city_id">
                                                {{city.city_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f['vcity'].errors" class="invalid-feedback">
                                                <div *ngIf="f['vcity'].errors['required']">Select City</div>
                                              </div>
                                    </div>
                                </div>  

                                  <div class="form-group col-md-6">
                                      <div class="form-group">
                                          <label  class="form-label">Pincode<b style="color: red;">*</b></label>
                                          <input   type="text"  formControlName="vpincode" class="form-control" [(ngModel)]="pincode"
                                              minlength="6" maxlength="6" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [ngClass]="{ 'is-invalid': submitted && f['vpincode'].errors }">
                                              <div *ngIf="submitted && f['vpincode'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['vpincode'].errors['required']">Enter Pincode</div>
                                                </div>
                                      </div>
                                  </div>

                                  <!-- Mukta 29-08-2022 -->
                                  <div class="col-sm-6 mb-4">
                                    <div class="form-group mb-3">
                                      <label for="password" class="form-label">Enter Password</label>
                                      <input id="password" name="password" type="password" class="form-control" formControlName="v_pwdd" [(ngModel)]="pwdd" [ngClass]="{ 'is-invalid': submitted && f['v_pwdd'].errors }">
                                      <div *ngIf="submitted && f['v_pwdd'].errors" class="invalid-feedback">
                                        <div *ngIf="f['v_pwdd'].errors['required']">enter New Password</div>
                                      
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </form>
                          <div class="col-sm-12 text-center">

                              <a type="button" class="btn btn-template wide next"  (click)="clear()">
                                  Clear
                              </a> &nbsp;

                                <a type="button" class="btn btn-template wide next"  (click)="updatecustomerdata()">
                                    Create User
                                </a>
                            </div>

                      </div>
                  </div>
                  <div class="row mt-2" *ngFor="let val of validation_list">
                      <div class="col-md-9" style="color:red">{{val}}</div>
                  </div>

              </div>
          </section>




